*  Font Awesome 3.2.1
 *  the iconic font designed for Bootstrap
 *  ------------------------------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation can be
 *  found at http://fontawesome.io.  Stay up to date on Twitter at
 *  http://twitter.com/fontawesome.
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - The Font Awesome font is licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Font Awesome documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 *
 *  Author - Dave Gandy
 *  ------------------------------------------------------------------------------
 *  Email: dave@fontawesome.io
 *  Twitter: http://twitter.com/davegandy
 *  Work: Lead Product Designer @ Kyruus - http://kyruus.com
*/

@font-face {
  font-family:FontAwesome;
  src:url(../font/fontawesome-webfont.eot?#iefix&v=3.2.1) format(embedded-opentype),url(../font/fontawesome-webfont.woff?v=3.2.1) format(woff),url(../font/fontawesome-webfont.ttf?v=3.2.1) format(truetype),url(../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1) format(svg);
  font-weight:400;
  font-style:normal;
}

[class^="icon-"],[class*=" icon-"] {
  font-family:FontAwesome;
  font-weight:400;
  font-style:normal;
  text-decoration:inherit;
  -webkit-font-smoothing:antialiased;
  margin-right:.3em;
  display:inline;
  width:auto;
  height:auto;
  line-height:normal;
  vertical-align:baseline;
  background-image:none;
  background-position:0 0;
  background-repeat:repeat;
  margin-top:0;
}

[class^="icon-"]:before,[class*=" icon-"]:before {
  text-decoration:inherit;
  display:inline-block;
  speak:none;
}

.icon-large:before {
  vertical-align:-10%;
  font-size:1.33333em;
}

a [class^="icon-"],a [class*=" icon-"] {
  display:inline;
}

[class^="icon-"].icon-fixed-width,[class*=" icon-"].icon-fixed-width {
  display:inline-block;
  width:1.14286em;
  text-align:right;
  padding-right:.28571em;
}

[class^="icon-"].icon-fixed-width.icon-large,[class*=" icon-"].icon-fixed-width.icon-large {
  width:1.42857em;
}

.icons-ul {
  margin-left:2.14286em;
  list-style-type:none;
}

.icons-ul>li {
  position:relative;
}

.icons-ul .icon-li {
  position:absolute;
  left:-2.14286em;
  width:2.14286em;
  text-align:center;
  line-height:inherit;
}

[class^="icon-"].hide,[class*=" icon-"].hide {
  display:none;
}

.icon-muted {
  color:#eee;
}

.icon-light {
  color:#fff;
}

.icon-dark {
  color:#333;
}

.icon-border {
  border:solid 1px #eee;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  padding:.2em .25em .15em;
}

.icon-2x {
  font-size:2em;
}

.icon-2x.icon-border {
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  border-width:2px;
}

.icon-3x {
  font-size:3em;
}

.icon-3x.icon-border {
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  border-width:3px;
}

.icon-4x {
  font-size:4em;
}

.icon-4x.icon-border {
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  border-width:4px;
}

.icon-5x {
  font-size:5em;
}

.icon-5x.icon-border {
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
  border-width:5px;
}

.pull-right {
  float:right;
}

.pull-left {
  float:left;
}

[class^="icon-"].pull-left,[class*=" icon-"].pull-left {
  margin-right:.3em;
}

[class^="icon-"].pull-right,[class*=" icon-"].pull-right {
  margin-left:.3em;
}

.icon-white,.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-inverse .nav>.active>a>[class^="icon-"],.navbar-inverse .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"],.dropdown-submenu:hover>a>[class^="icon-"],.dropdown-submenu:hover>a>[class*=" icon-"] {
  background-image:none;
}

.btn [class^="icon-"].pull-left.icon-2x,.btn [class^="icon-"].pull-right.icon-2x,.btn [class*=" icon-"].pull-left.icon-2x,.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top:.18em;
}

.btn [class^="icon-"].icon-spin.icon-large,.btn [class*=" icon-"].icon-spin.icon-large {
  line-height:.8em;
}

.btn.btn-small [class^="icon-"].pull-left.icon-2x,.btn.btn-small [class^="icon-"].pull-right.icon-2x,.btn.btn-small [class*=" icon-"].pull-left.icon-2x,.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top:.25em;
}

.btn.btn-large [class^="icon-"],.btn.btn-large [class*=" icon-"] {
  margin-top:0;
}

.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top:.05em;
}

.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right:.2em;
}

.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left:.2em;
}

.nav-list [class^="icon-"],.nav-list [class*=" icon-"] {
  line-height:inherit;
}

.icon-stack {
  position:relative;
  display:inline-block;
  width:2em;
  height:2em;
  line-height:2em;
  vertical-align:-35%;
}

.icon-stack [class^="icon-"],.icon-stack [class*=" icon-"] {
  display:block;
  text-align:center;
  position:absolute;
  width:100%;
  height:100%;
  font-size:1em;
  line-height:2em;
}

.icon-stack .icon-stack-base {
  font-size:2em;
  line-height:1em;
}

.icon-spin {
  display:inline-block;
  -moz-animation:spin 2s infinite linear;
  -o-animation:spin 2s infinite linear;
  -webkit-animation:spin 2s infinite linear;
  animation:spin 2s infinite linear;
}

a .icon-stack,a .icon-spin {
  display:inline-block;
  text-decoration:none;
}

100% {
  -moz-transform:rotate(359deg);
  -webkit-transform:rotate(359deg);
  -o-transform:rotate(359deg);
  -ms-transform:rotate(359deg);
  transform:rotate(359deg);
}

.icon-rotate-90:before {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.icon-rotate-180:before {
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  transform:rotate(180deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.icon-rotate-270:before {
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  transform:rotate(270deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.icon-flip-horizontal:before {
  -webkit-transform:scale(-1,1);
  -moz-transform:scale(-1,1);
  -ms-transform:scale(-1,1);
  -o-transform:scale(-1,1);
  transform:scale(-1,1);
}

.icon-flip-vertical:before {
  -webkit-transform:scale(1,-1);
  -moz-transform:scale(1,-1);
  -ms-transform:scale(1,-1);
  -o-transform:scale(1,-1);
  transform:scale(1,-1);
}

.icon-glass:before {
  content:"\f000";
}

.icon-music:before {
  content:"\f001";
}

.icon-search:before {
  content:"\f002";
}

.icon-envelope-alt:before {
  content:"\f003";
}

.icon-heart:before {
  content:"\f004";
}

.icon-star:before {
  content:"\f005";
}

.icon-star-empty:before {
  content:"\f006";
}

.icon-user:before {
  content:"\f007";
}

.icon-film:before {
  content:"\f008";
}

.icon-th-large:before {
  content:"\f009";
}

.icon-th:before {
  content:"\f00a";
}

.icon-th-list:before {
  content:"\f00b";
}

.icon-ok:before {
  content:"\f00c";
}

.icon-remove:before {
  content:"\f00d";
}

.icon-zoom-in:before {
  content:"\f00e";
}

.icon-zoom-out:before {
  content:"\f010";
}

.icon-power-off:before,.icon-off:before {
  content:"\f011";
}

.icon-signal:before {
  content:"\f012";
}

.icon-gear:before,.icon-cog:before {
  content:"\f013";
}

.icon-trash:before {
  content:"\f014";
}

.icon-home:before {
  content:"\f015";
}

.icon-file-alt:before {
  content:"\f016";
}

.icon-time:before {
  content:"\f017";
}

.icon-road:before {
  content:"\f018";
}

.icon-download-alt:before {
  content:"\f019";
}

.icon-download:before {
  content:"\f01a";
}

.icon-upload:before {
  content:"\f01b";
}

.icon-inbox:before {
  content:"\f01c";
}

.icon-play-circle:before {
  content:"\f01d";
}

.icon-rotate-right:before,.icon-repeat:before {
  content:"\f01e";
}

.icon-refresh:before {
  content:"\f021";
}

.icon-list-alt:before {
  content:"\f022";
}

.icon-lock:before {
  content:"\f023";
}

.icon-flag:before {
  content:"\f024";
}

.icon-headphones:before {
  content:"\f025";
}

.icon-volume-off:before {
  content:"\f026";
}

.icon-volume-down:before {
  content:"\f027";
}

.icon-volume-up:before {
  content:"\f028";
}

.icon-qrcode:before {
  content:"\f029";
}

.icon-barcode:before {
  content:"\f02a";
}

.icon-tag:before {
  content:"\f02b";
}

.icon-tags:before {
  content:"\f02c";
}

.icon-book:before {
  content:"\f02d";
}

.icon-bookmark:before {
  content:"\f02e";
}

.icon-print:before {
  content:"\f02f";
}

.icon-camera:before {
  content:"\f030";
}

.icon-font:before {
  content:"\f031";
}

.icon-bold:before {
  content:"\f032";
}

.icon-italic:before {
  content:"\f033";
}

.icon-text-height:before {
  content:"\f034";
}

.icon-text-width:before {
  content:"\f035";
}

.icon-align-left:before {
  content:"\f036";
}

.icon-align-center:before {
  content:"\f037";
}

.icon-align-right:before {
  content:"\f038";
}

.icon-align-justify:before {
  content:"\f039";
}

.icon-list:before {
  content:"\f03a";
}

.icon-indent-left:before {
  content:"\f03b";
}

.icon-indent-right:before {
  content:"\f03c";
}

.icon-facetime-video:before {
  content:"\f03d";
}

.icon-picture:before {
  content:"\f03e";
}

.icon-pencil:before {
  content:"\f040";
}

.icon-map-marker:before {
  content:"\f041";
}

.icon-adjust:before {
  content:"\f042";
}

.icon-tint:before {
  content:"\f043";
}

.icon-edit:before {
  content:"\f044";
}

.icon-share:before {
  content:"\f045";
}

.icon-check:before {
  content:"\f046";
}

.icon-move:before {
  content:"\f047";
}

.icon-step-backward:before {
  content:"\f048";
}

.icon-fast-backward:before {
  content:"\f049";
}

.icon-backward:before {
  content:"\f04a";
}

.icon-play:before {
  content:"\f04b";
}

.icon-pause:before {
  content:"\f04c";
}

.icon-stop:before {
  content:"\f04d";
}

.icon-forward:before {
  content:"\f04e";
}

.icon-fast-forward:before {
  content:"\f050";
}

.icon-step-forward:before {
  content:"\f051";
}

.icon-eject:before {
  content:"\f052";
}

.icon-chevron-left:before {
  content:"\f053";
}

.icon-chevron-right:before {
  content:"\f054";
}

.icon-plus-sign:before {
  content:"\f055";
}

.icon-minus-sign:before {
  content:"\f056";
}

.icon-remove-sign:before {
  content:"\f057";
}

.icon-ok-sign:before {
  content:"\f058";
}

.icon-question-sign:before {
  content:"\f059";
}

.icon-info-sign:before {
  content:"\f05a";
}

.icon-screenshot:before {
  content:"\f05b";
}

.icon-remove-circle:before {
  content:"\f05c";
}

.icon-ok-circle:before {
  content:"\f05d";
}

.icon-ban-circle:before {
  content:"\f05e";
}

.icon-arrow-left:before {
  content:"\f060";
}

.icon-arrow-right:before {
  content:"\f061";
}

.icon-arrow-up:before {
  content:"\f062";
}

.icon-arrow-down:before {
  content:"\f063";
}

.icon-mail-forward:before,.icon-share-alt:before {
  content:"\f064";
}

.icon-resize-full:before {
  content:"\f065";
}

.icon-resize-small:before {
  content:"\f066";
}

.icon-plus:before {
  content:"\f067";
}

.icon-minus:before {
  content:"\f068";
}

.icon-asterisk:before {
  content:"\f069";
}

.icon-exclamation-sign:before {
  content:"\f06a";
}

.icon-gift:before {
  content:"\f06b";
}

.icon-leaf:before {
  content:"\f06c";
}

.icon-fire:before {
  content:"\f06d";
}

.icon-eye-open:before {
  content:"\f06e";
}

.icon-eye-close:before {
  content:"\f070";
}

.icon-warning-sign:before {
  content:"\f071";
}

.icon-plane:before {
  content:"\f072";
}

.icon-calendar:before {
  content:"\f073";
}

.icon-random:before {
  content:"\f074";
}

.icon-comment:before {
  content:"\f075";
}

.icon-magnet:before {
  content:"\f076";
}

.icon-chevron-up:before {
  content:"\f077";
}

.icon-chevron-down:before {
  content:"\f078";
}

.icon-retweet:before {
  content:"\f079";
}

.icon-shopping-cart:before {
  content:"\f07a";
}

.icon-folder-close:before {
  content:"\f07b";
}

.icon-folder-open:before {
  content:"\f07c";
}

.icon-resize-vertical:before {
  content:"\f07d";
}

.icon-resize-horizontal:before {
  content:"\f07e";
}

.icon-bar-chart:before {
  content:"\f080";
}

.icon-twitter-sign:before {
  content:"\f081";
}

.icon-facebook-sign:before {
  content:"\f082";
}

.icon-camera-retro:before {
  content:"\f083";
}

.icon-key:before {
  content:"\f084";
}

.icon-gears:before,.icon-cogs:before {
  content:"\f085";
}

.icon-comments:before {
  content:"\f086";
}

.icon-thumbs-up-alt:before {
  content:"\f087";
}

.icon-thumbs-down-alt:before {
  content:"\f088";
}

.icon-star-half:before {
  content:"\f089";
}

.icon-heart-empty:before {
  content:"\f08a";
}

.icon-signout:before {
  content:"\f08b";
}

.icon-linkedin-sign:before {
  content:"\f08c";
}

.icon-pushpin:before {
  content:"\f08d";
}

.icon-external-link:before {
  content:"\f08e";
}

.icon-signin:before {
  content:"\f090";
}

.icon-trophy:before {
  content:"\f091";
}

.icon-github-sign:before {
  content:"\f092";
}

.icon-upload-alt:before {
  content:"\f093";
}

.icon-lemon:before {
  content:"\f094";
}

.icon-phone:before {
  content:"\f095";
}

.icon-unchecked:before,.icon-check-empty:before {
  content:"\f096";
}

.icon-bookmark-empty:before {
  content:"\f097";
}

.icon-phone-sign:before {
  content:"\f098";
}

.icon-twitter:before {
  content:"\f099";
}

.icon-facebook:before {
  content:"\f09a";
}

.icon-github:before {
  content:"\f09b";
}

.icon-unlock:before {
  content:"\f09c";
}

.icon-credit-card:before {
  content:"\f09d";
}

.icon-rss:before {
  content:"\f09e";
}

.icon-hdd:before {
  content:"\f0a0";
}

.icon-bullhorn:before {
  content:"\f0a1";
}

.icon-bell:before {
  content:"\f0a2";
}

.icon-certificate:before {
  content:"\f0a3";
}

.icon-hand-right:before {
  content:"\f0a4";
}

.icon-hand-left:before {
  content:"\f0a5";
}

.icon-hand-up:before {
  content:"\f0a6";
}

.icon-hand-down:before {
  content:"\f0a7";
}

.icon-circle-arrow-left:before {
  content:"\f0a8";
}

.icon-circle-arrow-right:before {
  content:"\f0a9";
}

.icon-circle-arrow-up:before {
  content:"\f0aa";
}

.icon-circle-arrow-down:before {
  content:"\f0ab";
}

.icon-globe:before {
  content:"\f0ac";
}

.icon-wrench:before {
  content:"\f0ad";
}

.icon-tasks:before {
  content:"\f0ae";
}

.icon-filter:before {
  content:"\f0b0";
}

.icon-briefcase:before {
  content:"\f0b1";
}

.icon-fullscreen:before {
  content:"\f0b2";
}

.icon-group:before {
  content:"\f0c0";
}

.icon-link:before {
  content:"\f0c1";
}

.icon-cloud:before {
  content:"\f0c2";
}

.icon-beaker:before {
  content:"\f0c3";
}

.icon-cut:before {
  content:"\f0c4";
}

.icon-copy:before {
  content:"\f0c5";
}

.icon-paperclip:before,.icon-paper-clip:before {
  content:"\f0c6";
}

.icon-save:before {
  content:"\f0c7";
}

.icon-sign-blank:before {
  content:"\f0c8";
}

.icon-reorder:before {
  content:"\f0c9";
}

.icon-list-ul:before {
  content:"\f0ca";
}

.icon-list-ol:before {
  content:"\f0cb";
}

.icon-strikethrough:before {
  content:"\f0cc";
}

.icon-underline:before {
  content:"\f0cd";
}

.icon-table:before {
  content:"\f0ce";
}

.icon-magic:before {
  content:"\f0d0";
}

.icon-truck:before {
  content:"\f0d1";
}

.icon-pinterest:before {
  content:"\f0d2";
}

.icon-pinterest-sign:before {
  content:"\f0d3";
}

.icon-google-plus-sign:before {
  content:"\f0d4";
}

.icon-google-plus:before {
  content:"\f0d5";
}

.icon-money:before {
  content:"\f0d6";
}

.icon-caret-down:before {
  content:"\f0d7";
}

.icon-caret-up:before {
  content:"\f0d8";
}

.icon-caret-left:before {
  content:"\f0d9";
}

.icon-caret-right:before {
  content:"\f0da";
}

.icon-columns:before {
  content:"\f0db";
}

.icon-sort:before {
  content:"\f0dc";
}

.icon-sort-down:before {
  content:"\f0dd";
}

.icon-sort-up:before {
  content:"\f0de";
}

.icon-envelope:before {
  content:"\f0e0";
}

.icon-linkedin:before {
  content:"\f0e1";
}

.icon-rotate-left:before,.icon-undo:before {
  content:"\f0e2";
}

.icon-legal:before {
  content:"\f0e3";
}

.icon-dashboard:before {
  content:"\f0e4";
}

.icon-comment-alt:before {
  content:"\f0e5";
}

.icon-comments-alt:before {
  content:"\f0e6";
}

.icon-bolt:before {
  content:"\f0e7";
}

.icon-sitemap:before {
  content:"\f0e8";
}

.icon-umbrella:before {
  content:"\f0e9";
}

.icon-paste:before {
  content:"\f0ea";
}

.icon-lightbulb:before {
  content:"\f0eb";
}

.icon-exchange:before {
  content:"\f0ec";
}

.icon-cloud-download:before {
  content:"\f0ed";
}

.icon-cloud-upload:before {
  content:"\f0ee";
}

.icon-user-md:before {
  content:"\f0f0";
}

.icon-stethoscope:before {
  content:"\f0f1";
}

.icon-suitcase:before {
  content:"\f0f2";
}

.icon-bell-alt:before {
  content:"\f0f3";
}

.icon-coffee:before {
  content:"\f0f4";
}

.icon-food:before {
  content:"\f0f5";
}

.icon-file-text-alt:before {
  content:"\f0f6";
}

.icon-building:before {
  content:"\f0f7";
}

.icon-hospital:before {
  content:"\f0f8";
}

.icon-ambulance:before {
  content:"\f0f9";
}

.icon-medkit:before {
  content:"\f0fa";
}

.icon-fighter-jet:before {
  content:"\f0fb";
}

.icon-beer:before {
  content:"\f0fc";
}

.icon-h-sign:before {
  content:"\f0fd";
}

.icon-plus-sign-alt:before {
  content:"\f0fe";
}

.icon-double-angle-left:before {
  content:"\f100";
}

.icon-double-angle-right:before {
  content:"\f101";
}

.icon-double-angle-up:before {
  content:"\f102";
}

.icon-double-angle-down:before {
  content:"\f103";
}

.icon-angle-left:before {
  content:"\f104";
}

.icon-angle-right:before {
  content:"\f105";
}

.icon-angle-up:before {
  content:"\f106";
}

.icon-angle-down:before {
  content:"\f107";
}

.icon-desktop:before {
  content:"\f108";
}

.icon-laptop:before {
  content:"\f109";
}

.icon-tablet:before {
  content:"\f10a";
}

.icon-mobile-phone:before {
  content:"\f10b";
}

.icon-circle-blank:before {
  content:"\f10c";
}

.icon-quote-left:before {
  content:"\f10d";
}

.icon-quote-right:before {
  content:"\f10e";
}

.icon-spinner:before {
  content:"\f110";
}

.icon-circle:before {
  content:"\f111";
}

.icon-mail-reply:before,.icon-reply:before {
  content:"\f112";
}

.icon-github-alt:before {
  content:"\f113";
}

.icon-folder-close-alt:before {
  content:"\f114";
}

.icon-folder-open-alt:before {
  content:"\f115";
}

.icon-expand-alt:before {
  content:"\f116";
}

.icon-collapse-alt:before {
  content:"\f117";
}

.icon-smile:before {
  content:"\f118";
}

.icon-frown:before {
  content:"\f119";
}

.icon-meh:before {
  content:"\f11a";
}

.icon-gamepad:before {
  content:"\f11b";
}

.icon-keyboard:before {
  content:"\f11c";
}

.icon-flag-alt:before {
  content:"\f11d";
}

.icon-flag-checkered:before {
  content:"\f11e";
}

.icon-terminal:before {
  content:"\f120";
}

.icon-code:before {
  content:"\f121";
}

.icon-star-half-full:before,.icon-star-half-empty:before {
  content:"\f123";
}

.icon-location-arrow:before {
  content:"\f124";
}

.icon-crop:before {
  content:"\f125";
}

.icon-code-fork:before {
  content:"\f126";
}

.icon-unlink:before {
  content:"\f127";
}

.icon-question:before {
  content:"\f128";
}

.icon-info:before {
  content:"\f129";
}

.icon-exclamation:before {
  content:"\f12a";
}

.icon-superscript:before {
  content:"\f12b";
}

.icon-subscript:before {
  content:"\f12c";
}

.icon-eraser:before {
  content:"\f12d";
}

.icon-puzzle-piece:before {
  content:"\f12e";
}

.icon-microphone:before {
  content:"\f130";
}

.icon-microphone-off:before {
  content:"\f131";
}

.icon-shield:before {
  content:"\f132";
}

.icon-calendar-empty:before {
  content:"\f133";
}

.icon-fire-extinguisher:before {
  content:"\f134";
}

.icon-rocket:before {
  content:"\f135";
}

.icon-maxcdn:before {
  content:"\f136";
}

.icon-chevron-sign-left:before {
  content:"\f137";
}

.icon-chevron-sign-right:before {
  content:"\f138";
}

.icon-chevron-sign-up:before {
  content:"\f139";
}

.icon-chevron-sign-down:before {
  content:"\f13a";
}

.icon-html5:before {
  content:"\f13b";
}

.icon-css3:before {
  content:"\f13c";
}

.icon-anchor:before {
  content:"\f13d";
}

.icon-unlock-alt:before {
  content:"\f13e";
}

.icon-bullseye:before {
  content:"\f140";
}

.icon-ellipsis-horizontal:before {
  content:"\f141";
}

.icon-ellipsis-vertical:before {
  content:"\f142";
}

.icon-rss-sign:before {
  content:"\f143";
}

.icon-play-sign:before {
  content:"\f144";
}

.icon-ticket:before {
  content:"\f145";
}

.icon-minus-sign-alt:before {
  content:"\f146";
}

.icon-check-minus:before {
  content:"\f147";
}

.icon-level-up:before {
  content:"\f148";
}

.icon-level-down:before {
  content:"\f149";
}

.icon-check-sign:before {
  content:"\f14a";
}

.icon-edit-sign:before {
  content:"\f14b";
}

.icon-external-link-sign:before {
  content:"\f14c";
}

.icon-share-sign:before {
  content:"\f14d";
}

.icon-compass:before {
  content:"\f14e";
}

.icon-collapse:before {
  content:"\f150";
}

.icon-collapse-top:before {
  content:"\f151";
}

.icon-expand:before {
  content:"\f152";
}

.icon-euro:before,.icon-eur:before {
  content:"\f153";
}

.icon-gbp:before {
  content:"\f154";
}

.icon-dollar:before,.icon-usd:before {
  content:"\f155";
}

.icon-rupee:before,.icon-inr:before {
  content:"\f156";
}

.icon-yen:before,.icon-jpy:before {
  content:"\f157";
}

.icon-renminbi:before,.icon-cny:before {
  content:"\f158";
}

.icon-won:before,.icon-krw:before {
  content:"\f159";
}

.icon-bitcoin:before,.icon-btc:before {
  content:"\f15a";
}

.icon-file:before {
  content:"\f15b";
}

.icon-file-text:before {
  content:"\f15c";
}

.icon-sort-by-alphabet:before {
  content:"\f15d";
}

.icon-sort-by-alphabet-alt:before {
  content:"\f15e";
}

.icon-sort-by-attributes:before {
  content:"\f160";
}

.icon-sort-by-attributes-alt:before {
  content:"\f161";
}

.icon-sort-by-order:before {
  content:"\f162";
}

.icon-sort-by-order-alt:before {
  content:"\f163";
}

.icon-thumbs-up:before {
  content:"\f164";
}

.icon-thumbs-down:before {
  content:"\f165";
}

.icon-youtube-sign:before {
  content:"\f166";
}

.icon-youtube:before {
  content:"\f167";
}

.icon-xing:before {
  content:"\f168";
}

.icon-xing-sign:before {
  content:"\f169";
}

.icon-youtube-play:before {
  content:"\f16a";
}

.icon-dropbox:before {
  content:"\f16b";
}

.icon-stackexchange:before {
  content:"\f16c";
}

.icon-instagram:before {
  content:"\f16d";
}

.icon-flickr:before {
  content:"\f16e";
}

.icon-adn:before {
  content:"\f170";
}

.icon-bitbucket:before {
  content:"\f171";
}

.icon-bitbucket-sign:before {
  content:"\f172";
}

.icon-tumblr:before {
  content:"\f173";
}

.icon-tumblr-sign:before {
  content:"\f174";
}

.icon-long-arrow-down:before {
  content:"\f175";
}

.icon-long-arrow-up:before {
  content:"\f176";
}

.icon-long-arrow-left:before {
  content:"\f177";
}

.icon-long-arrow-right:before {
  content:"\f178";
}

.icon-apple:before {
  content:"\f179";
}

.icon-windows:before {
  content:"\f17a";
}

.icon-android:before {
  content:"\f17b";
}

.icon-linux:before {
  content:"\f17c";
}

.icon-dribbble:before {
  content:"\f17d";
}

.icon-skype:before {
  content:"\f17e";
}

.icon-foursquare:before {
  content:"\f180";
}

.icon-trello:before {
  content:"\f181";
}

.icon-female:before {
  content:"\f182";
}

.icon-male:before {
  content:"\f183";
}

.icon-gittip:before {
  content:"\f184";
}

.icon-sun:before {
  content:"\f185";
}

.icon-moon:before {
  content:"\f186";
}

.icon-archive:before {
  content:"\f187";
}

.icon-bug:before {
  content:"\f188";
}

.icon-vk:before {
  content:"\f189";
}

.icon-weibo:before {
  content:"\f18a";
}

.icon-renren:before {
  content:"\f18b";
}

.btn [class^="icon-"].icon-large,.btn [class*=" icon-"].icon-large,.nav [class^="icon-"].icon-large,.nav [class*=" icon-"].icon-large,.nav-tabs [class^="icon-"],.nav-tabs [class^="icon-"].icon-large,.nav-tabs [class*=" icon-"],.nav-tabs [class*=" icon-"].icon-large,.nav-pills [class^="icon-"],.nav-pills [class^="icon-"].icon-large,.nav-pills [class*=" icon-"],.nav-pills [class*=" icon-"].icon-large {
  line-height:.9em;
}

.btn [class^="icon-"].icon-spin,.btn [class*=" icon-"].icon-spin,.nav [class^="icon-"].icon-spin,.nav [class*=" icon-"].icon-spin,a .icon-rotate-90:before,a .icon-rotate-180:before,a .icon-rotate-270:before,a .icon-flip-horizontal:before,a .icon-flip-vertical:before {
  display:inline-block;
}

.icon-reply-all:before,.icon-mail-reply-all:before {
  content:"\f122";
}


/*
*
*  Project:  GLYPHICONS
*  Author:   Jan Kovarik - www.glyphicons.com
*  Twitter:  @jankovarik
*
*/

html,html .halflings {
  -webkit-font-smoothing:antialiased!important;
}

@font-face {
  font-family:Glyphicons;
  src:url(../font/glyphicons-regular.eot?#iefix) format(embedded-opentype),url(../font/glyphicons-regular.woff) format(woff),url(../font/glyphicons-regular.ttf) format(truetype),url(../font/glyphicons-regular.svg#glyphicons_halflingsregular) format(svg);
  font-weight:400;
  font-style:normal;
}

[class^="glyphicon-"],[class*=" glyphicon-"] {
  font-family:Glyphicons;
  font-weight:400;
  font-style:normal;
  text-decoration:inherit;
  -webkit-font-smoothing:antialiased;
  display:inline;
  width:auto;
  height:auto;
  line-height:15px;
  vertical-align:middle;
  background-image:none;
  background-position:0 0;
  background-repeat:repeat;
  margin-top:0;
}

[class^="glyphicon-"]:before,[class*=" glyphicon-"]:before {
  text-decoration:inherit;
  display:inline-block;
  speak:none;
}

li [class^="glyphicon-"],li [class*=" glyphicon-"],.nav li [class^="glyphicon-"],.nav li [class*=" glyphicon-"] {
  display:inline-block;
  width:1.25em;
  text-align:center;
}

.glyphicon-glass:before {
  content:"\e001";
}

.glyphicon-leaf:before {
  content:"\e002";
}

.glyphicon-dog:before {
  content:"\e003";
}

.glyphicon-user:before {
  content:"\e004";
}

.glyphicon-girl:before {
  content:"\e005";
}

.glyphicon-car:before {
  content:"\e006";
}

.glyphicon-user_add:before {
  content:"\e007";
}

.glyphicon-user_remove:before {
  content:"\e008";
}

.glyphicon-film:before {
  content:"\e009";
}

.glyphicon-magic:before {
  content:"\e010";
}

.glyphicon-envelope:before {
  content:"\2709";
}

.glyphicon-camera:before {
  content:"\e012";
}

.glyphicon-heart:before {
  content:"\e013";
}

.glyphicon-beach_umbrella:before {
  content:"\e014";
}

.glyphicon-train:before {
  content:"\e015";
}

.glyphicon-print:before {
  content:"\e016";
}

.glyphicon-bin:before {
  content:"\e017";
}

.glyphicon-music:before {
  content:"\e018";
}

.glyphicon-note:before {
  content:"\e019";
}

.glyphicon-heart_empty:before {
  content:"\e020";
}

.glyphicon-home:before {
  content:"\e021";
}

.glyphicon-snowflake:before {
  content:"\2744";
}

.glyphicon-fire:before {
  content:"\e023";
}

.glyphicon-magnet:before {
  content:"\e024";
}

.glyphicon-parents:before {
  content:"\e025";
}

.glyphicon-binoculars:before {
  content:"\e026";
}

.glyphicon-road:before {
  content:"\e027";
}

.glyphicon-search:before {
  content:"\e028";
}

.glyphicon-cars:before {
  content:"\e029";
}

.glyphicon-notes_2:before {
  content:"\e030";
}

.glyphicon-pencil:before {
  content:"\270F";
}

.glyphicon-bus:before {
  content:"\e032";
}

.glyphicon-wifi_alt:before {
  content:"\e033";
}

.glyphicon-luggage:before {
  content:"\e034";
}

.glyphicon-old_man:before {
  content:"\e035";
}

.glyphicon-woman:before {
  content:"\e036";
}

.glyphicon-file:before {
  content:"\e037";
}

.glyphicon-coins:before {
  content:"\e038";
}

.glyphicon-airplane:before {
  content:"\2708";
}

.glyphicon-notes:before {
  content:"\e040";
}

.glyphicon-stats:before {
  content:"\e041";
}

.glyphicon-charts:before {
  content:"\e042";
}

.glyphicon-pie_chart:before {
  content:"\e043";
}

.glyphicon-group:before {
  content:"\e044";
}

.glyphicon-keys:before {
  content:"\e045";
}

.glyphicon-calendar:before {
  content:"\e046";
}

.glyphicon-router:before {
  content:"\e047";
}

.glyphicon-camera_small:before {
  content:"\e048";
}

.glyphicon-dislikes:before {
  content:"\e049";
}

.glyphicon-star:before {
  content:"\e050";
}

.glyphicon-link:before {
  content:"\e051";
}

.glyphicon-eye_open:before {
  content:"\e052";
}

.glyphicon-eye_close:before {
  content:"\e053";
}

.glyphicon-alarm:before {
  content:"\e054";
}

.glyphicon-clock:before {
  content:"\e055";
}

.glyphicon-stopwatch:before {
  content:"\e056";
}

.glyphicon-projector:before {
  content:"\e057";
}

.glyphicon-history:before {
  content:"\e058";
}

.glyphicon-truck:before {
  content:"\e059";
}

.glyphicon-cargo:before {
  content:"\e060";
}

.glyphicon-compass:before {
  content:"\e061";
}

.glyphicon-keynote:before {
  content:"\e062";
}

.glyphicon-paperclip:before {
  content:"\e063";
}

.glyphicon-power:before {
  content:"\e064";
}

.glyphicon-lightbulb:before {
  content:"\e065";
}

.glyphicon-tag:before {
  content:"\e066";
}

.glyphicon-tags:before {
  content:"\e067";
}

.glyphicon-cleaning:before {
  content:"\e068";
}

.glyphicon-ruller:before {
  content:"\e069";
}

.glyphicon-gift:before {
  content:"\e070";
}

.glyphicon-umbrella:before {
  content:"\2602";
}

.glyphicon-book:before {
  content:"\e072";
}

.glyphicon-bookmark:before {
  content:"\e073";
}

.glyphicon-wifi:before {
  content:"\e074";
}

.glyphicon-cup:before {
  content:"\e075";
}

.glyphicon-stroller:before {
  content:"\e076";
}

.glyphicon-headphones:before {
  content:"\e077";
}

.glyphicon-headset:before {
  content:"\e078";
}

.glyphicon-warning_sign:before {
  content:"\e079";
}

.glyphicon-signal:before {
  content:"\e080";
}

.glyphicon-retweet:before {
  content:"\e081";
}

.glyphicon-refresh:before {
  content:"\e082";
}

.glyphicon-roundabout:before {
  content:"\e083";
}

.glyphicon-random:before {
  content:"\e084";
}

.glyphicon-heat:before {
  content:"\e085";
}

.glyphicon-repeat:before {
  content:"\e086";
}

.glyphicon-display:before {
  content:"\e087";
}

.glyphicon-log_book:before {
  content:"\e088";
}

.glyphicon-adress_book:before {
  content:"\e089";
}

.glyphicon-building:before {
  content:"\e090";
}

.glyphicon-eyedropper:before {
  content:"\e091";
}

.glyphicon-adjust:before {
  content:"\e092";
}

.glyphicon-tint:before {
  content:"\e093";
}

.glyphicon-crop:before {
  content:"\e094";
}

.glyphicon-vector_path_square:before {
  content:"\e095";
}

.glyphicon-vector_path_circle:before {
  content:"\e096";
}

.glyphicon-vector_path_polygon:before {
  content:"\e097";
}

.glyphicon-vector_path_line:before {
  content:"\e098";
}

.glyphicon-vector_path_curve:before {
  content:"\e099";
}

.glyphicon-vector_path_all:before {
  content:"\e100";
}

.glyphicon-font:before {
  content:"\e101";
}

.glyphicon-italic:before {
  content:"\e102";
}

.glyphicon-bold:before {
  content:"\e103";
}

.glyphicon-text_underline:before {
  content:"\e104";
}

.glyphicon-text_strike:before {
  content:"\e105";
}

.glyphicon-text_height:before {
  content:"\e106";
}

.glyphicon-text_width:before {
  content:"\e107";
}

.glyphicon-text_resize:before {
  content:"\e108";
}

.glyphicon-left_indent:before {
  content:"\e109";
}

.glyphicon-right_indent:before {
  content:"\e110";
}

.glyphicon-align_left:before {
  content:"\e111";
}

.glyphicon-align_center:before {
  content:"\e112";
}

.glyphicon-align_right:before {
  content:"\e113";
}

.glyphicon-justify:before {
  content:"\e114";
}

.glyphicon-list:before {
  content:"\e115";
}

.glyphicon-text_smaller:before {
  content:"\e116";
}

.glyphicon-text_bigger:before {
  content:"\e117";
}

.glyphicon-embed:before {
  content:"\e118";
}

.glyphicon-embed_close:before {
  content:"\e119";
}

.glyphicon-table:before {
  content:"\e120";
}

.glyphicon-message_full:before {
  content:"\e121";
}

.glyphicon-message_empty:before {
  content:"\e122";
}

.glyphicon-message_in:before {
  content:"\e123";
}

.glyphicon-message_out:before {
  content:"\e124";
}

.glyphicon-message_plus:before {
  content:"\e125";
}

.glyphicon-message_minus:before {
  content:"\e126";
}

.glyphicon-message_ban:before {
  content:"\e127";
}

.glyphicon-message_flag:before {
  content:"\e128";
}

.glyphicon-message_lock:before {
  content:"\e129";
}

.glyphicon-message_new:before {
  content:"\e130";
}

.glyphicon-inbox:before {
  content:"\e131";
}

.glyphicon-inbox_plus:before {
  content:"\e132";
}

.glyphicon-inbox_minus:before {
  content:"\e133";
}

.glyphicon-inbox_lock:before {
  content:"\e134";
}

.glyphicon-inbox_in:before {
  content:"\e135";
}

.glyphicon-inbox_out:before {
  content:"\e136";
}

.glyphicon-cogwheel:before {
  content:"\e137";
}

.glyphicon-cogwheels:before {
  content:"\e138";
}

.glyphicon-picture:before {
  content:"\e139";
}

.glyphicon-adjust_alt:before {
  content:"\e140";
}

.glyphicon-database_lock:before {
  content:"\e141";
}

.glyphicon-database_plus:before {
  content:"\e142";
}

.glyphicon-database_minus:before {
  content:"\e143";
}

.glyphicon-database_ban:before {
  content:"\e144";
}

.glyphicon-folder_open:before {
  content:"\e145";
}

.glyphicon-folder_plus:before {
  content:"\e146";
}

.glyphicon-folder_minus:before {
  content:"\e147";
}

.glyphicon-folder_lock:before {
  content:"\e148";
}

.glyphicon-folder_flag:before {
  content:"\e149";
}

.glyphicon-folder_new:before {
  content:"\e150";
}

.glyphicon-edit:before {
  content:"\e151";
}

.glyphicon-new_window:before {
  content:"\e152";
}

.glyphicon-check:before {
  content:"\e153";
}

.glyphicon-unchecked:before {
  content:"\e154";
}

.glyphicon-more_windows:before {
  content:"\e155";
}

.glyphicon-show_big_thumbnails:before {
  content:"\e156";
}

.glyphicon-show_thumbnails:before {
  content:"\e157";
}

.glyphicon-show_thumbnails_with_lines:before {
  content:"\e158";
}

.glyphicon-show_lines:before {
  content:"\e159";
}

.glyphicon-playlist:before {
  content:"\e160";
}

.glyphicon-imac:before {
  content:"\e161";
}

.glyphicon-macbook:before {
  content:"\e162";
}

.glyphicon-ipad:before {
  content:"\e163";
}

.glyphicon-iphone:before {
  content:"\e164";
}

.glyphicon-iphone_transfer:before {
  content:"\e165";
}

.glyphicon-iphone_exchange:before {
  content:"\e166";
}

.glyphicon-ipod:before {
  content:"\e167";
}

.glyphicon-ipod_shuffle:before {
  content:"\e168";
}

.glyphicon-ear_plugs:before {
  content:"\e169";
}

.glyphicon-phone:before {
  content:"\e170";
}

.glyphicon-step_backward:before {
  content:"\e171";
}

.glyphicon-fast_backward:before {
  content:"\e172";
}

.glyphicon-rewind:before {
  content:"\e173";
}

.glyphicon-play:before {
  content:"\e174";
}

.glyphicon-pause:before {
  content:"\e175";
}

.glyphicon-stop:before {
  content:"\e176";
}

.glyphicon-forward:before {
  content:"\e177";
}

.glyphicon-fast_forward:before {
  content:"\e178";
}

.glyphicon-step_forward:before {
  content:"\e179";
}

.glyphicon-eject:before {
  content:"\e180";
}

.glyphicon-facetime_video:before {
  content:"\e181";
}

.glyphicon-download_alt:before {
  content:"\e182";
}

.glyphicon-mute:before {
  content:"\e183";
}

.glyphicon-volume_down:before {
  content:"\e184";
}

.glyphicon-volume_up:before {
  content:"\e185";
}

.glyphicon-screenshot:before {
  content:"\e186";
}

.glyphicon-move:before {
  content:"\e187";
}

.glyphicon-more:before {
  content:"\e188";
}

.glyphicon-brightness_reduce:before {
  content:"\e189";
}

.glyphicon-brightness_increase:before {
  content:"\e190";
}

.glyphicon-circle_plus:before {
  content:"\e191";
}

.glyphicon-circle_minus:before {
  content:"\e192";
}

.glyphicon-circle_remove:before {
  content:"\e193";
}

.glyphicon-circle_ok:before {
  content:"\e194";
}

.glyphicon-circle_question_mark:before {
  content:"\e195";
}

.glyphicon-circle_info:before {
  content:"\e196";
}

.glyphicon-circle_exclamation_mark:before {
  content:"\e197";
}

.glyphicon-remove:before {
  content:"\e198";
}

.glyphicon-ok:before {
  content:"\e199";
}

.glyphicon-ban:before {
  content:"\e200";
}

.glyphicon-download:before {
  content:"\e201";
}

.glyphicon-upload:before {
  content:"\e202";
}

.glyphicon-shopping_cart:before {
  content:"\e203";
}

.glyphicon-lock:before {
  content:"\e204";
}

.glyphicon-unlock:before {
  content:"\e205";
}

.glyphicon-electricity:before {
  content:"\e206";
}

.glyphicon-ok_2:before {
  content:"\e207";
}

.glyphicon-remove_2:before {
  content:"\e208";
}

.glyphicon-cart_out:before {
  content:"\e209";
}

.glyphicon-cart_in:before {
  content:"\e210";
}

.glyphicon-left_arrow:before {
  content:"\e211";
}

.glyphicon-right_arrow:before {
  content:"\e212";
}

.glyphicon-down_arrow:before {
  content:"\e213";
}

.glyphicon-up_arrow:before {
  content:"\e214";
}

.glyphicon-resize_small:before {
  content:"\e215";
}

.glyphicon-resize_full:before {
  content:"\e216";
}

.glyphicon-circle_arrow_left:before {
  content:"\e217";
}

.glyphicon-circle_arrow_right:before {
  content:"\e218";
}

.glyphicon-circle_arrow_top:before {
  content:"\e219";
}

.glyphicon-circle_arrow_down:before {
  content:"\e220";
}

.glyphicon-play_button:before {
  content:"\e221";
}

.glyphicon-unshare:before {
  content:"\e222";
}

.glyphicon-share:before {
  content:"\e223";
}

.glyphicon-chevron-right:before {
  content:"\e224";
}

.glyphicon-chevron-left:before {
  content:"\e225";
}

.glyphicon-bluetooth:before {
  content:"\e226";
}

.glyphicon-euro:before {
  content:"\20AC";
}

.glyphicon-usd:before {
  content:"\e228";
}

.glyphicon-gbp:before {
  content:"\e229";
}

.glyphicon-retweet_2:before {
  content:"\e230";
}

.glyphicon-moon:before {
  content:"\e231";
}

.glyphicon-sun:before {
  content:"\2609";
}

.glyphicon-cloud:before {
  content:"\2601";
}

.glyphicon-direction:before {
  content:"\e234";
}

.glyphicon-brush:before {
  content:"\e235";
}

.glyphicon-pen:before {
  content:"\e236";
}

.glyphicon-zoom_in:before {
  content:"\e237";
}

.glyphicon-zoom_out:before {
  content:"\e238";
}

.glyphicon-pin:before {
  content:"\e239";
}

.glyphicon-albums:before {
  content:"\e240";
}

.glyphicon-rotation_lock:before {
  content:"\e241";
}

.glyphicon-flash:before {
  content:"\e242";
}

.glyphicon-google_maps:before {
  content:"\e243";
}

.glyphicon-anchor:before {
  content:"\2693";
}

.glyphicon-conversation:before {
  content:"\e245";
}

.glyphicon-chat:before {
  content:"\e246";
}

.glyphicon-male:before {
  content:"\e247";
}

.glyphicon-female:before {
  content:"\e248";
}

.glyphicon-asterisk:before {
  content:"\002A";
}

.glyphicon-divide:before {
  content:"\00F7";
}

.glyphicon-snorkel_diving:before {
  content:"\e251";
}

.glyphicon-scuba_diving:before {
  content:"\e252";
}

.glyphicon-oxygen_bottle:before {
  content:"\e253";
}

.glyphicon-fins:before {
  content:"\e254";
}

.glyphicon-fishes:before {
  content:"\e255";
}

.glyphicon-boat:before {
  content:"\e256";
}

.glyphicon-delete:before {
  content:"\e257";
}

.glyphicon-sheriffs_star:before {
  content:"\e258";
}

.glyphicon-qrcode:before {
  content:"\e259";
}

.glyphicon-barcode:before {
  content:"\e260";
}

.glyphicon-pool:before {
  content:"\e261";
}

.glyphicon-buoy:before {
  content:"\e262";
}

.glyphicon-spade:before {
  content:"\e263";
}

.glyphicon-bank:before {
  content:"\e264";
}

.glyphicon-vcard:before {
  content:"\e265";
}

.glyphicon-electrical_plug:before {
  content:"\e266";
}

.glyphicon-flag:before {
  content:"\e267";
}

.glyphicon-credit_card:before {
  content:"\e268";
}

.glyphicon-keyboard-wireless:before {
  content:"\e269";
}

.glyphicon-keyboard-wired:before {
  content:"\e270";
}

.glyphicon-shield:before {
  content:"\e271";
}

.glyphicon-ring:before {
  content:"\02DA";
}

.glyphicon-cake:before {
  content:"\e273";
}

.glyphicon-drink:before {
  content:"\e274";
}

.glyphicon-beer:before {
  content:"\e275";
}

.glyphicon-fast_food:before {
  content:"\e276";
}

.glyphicon-cutlery:before {
  content:"\e277";
}

.glyphicon-pizza:before {
  content:"\e278";
}

.glyphicon-birthday_cake:before {
  content:"\e279";
}

.glyphicon-tablet:before {
  content:"\e280";
}

.glyphicon-settings:before {
  content:"\e281";
}

.glyphicon-bullets:before {
  content:"\e282";
}

.glyphicon-cardio:before {
  content:"\e283";
}

.glyphicon-t-shirt:before {
  content:"\e284";
}

.glyphicon-pants:before {
  content:"\e285";
}

.glyphicon-sweater:before {
  content:"\e286";
}

.glyphicon-fabric:before {
  content:"\e287";
}

.glyphicon-leather:before {
  content:"\e288";
}

.glyphicon-scissors:before {
  content:"\e289";
}

.glyphicon-bomb:before {
  content:"\e290";
}

.glyphicon-skull:before {
  content:"\e291";
}

.glyphicon-celebration:before {
  content:"\e292";
}

.glyphicon-tea_kettle:before {
  content:"\e293";
}

.glyphicon-french_press:before {
  content:"\e294";
}

.glyphicon-coffe_cup:before {
  content:"\e295";
}

.glyphicon-pot:before {
  content:"\e296";
}

.glyphicon-grater:before {
  content:"\e297";
}

.glyphicon-kettle:before {
  content:"\e298";
}

.glyphicon-hospital:before {
  content:"\e299";
}

.glyphicon-hospital_h:before {
  content:"\e300";
}

.glyphicon-microphone:before {
  content:"\e301";
}

.glyphicon-webcam:before {
  content:"\e302";
}

.glyphicon-temple_christianity_church:before {
  content:"\e303";
}

.glyphicon-temple_islam:before {
  content:"\e304";
}

.glyphicon-temple_hindu:before {
  content:"\e305";
}

.glyphicon-temple_buddhist:before {
  content:"\e306";
}

.glyphicon-bicycle:before {
  content:"\e307";
}

.glyphicon-life_preserver:before {
  content:"\e308";
}

.glyphicon-share_alt:before {
  content:"\e309";
}

.glyphicon-comments:before {
  content:"\e310";
}

.glyphicon-flower:before {
  content:"\2698";
}

.glyphicon-baseball:before {
  content:"\e312";
}

.glyphicon-rugby:before {
  content:"\e313";
}

.glyphicon-ax:before {
  content:"\e314";
}

.glyphicon-table_tennis:before {
  content:"\e315";
}

.glyphicon-bowling:before {
  content:"\e316";
}

.glyphicon-tree_conifer:before {
  content:"\e317";
}

.glyphicon-tree_deciduous:before {
  content:"\e318";
}

.glyphicon-more_items:before {
  content:"\e319";
}

.glyphicon-sort:before {
  content:"\e320";
}

.glyphicon-filter:before {
  content:"\e321";
}

.glyphicon-gamepad:before {
  content:"\e322";
}

.glyphicon-playing_dices:before {
  content:"\e323";
}

.glyphicon-calculator:before {
  content:"\e324";
}

.glyphicon-tie:before {
  content:"\e325";
}

.glyphicon-wallet:before {
  content:"\e326";
}

.glyphicon-piano:before {
  content:"\e327";
}

.glyphicon-sampler:before {
  content:"\e328";
}

.glyphicon-podium:before {
  content:"\e329";
}

.glyphicon-soccer_ball:before {
  content:"\e330";
}

.glyphicon-blog:before {
  content:"\e331";
}

.glyphicon-dashboard:before {
  content:"\e332";
}

.glyphicon-certificate:before {
  content:"\e333";
}

.glyphicon-bell:before {
  content:"\e334";
}

.glyphicon-candle:before {
  content:"\e335";
}

.glyphicon-pushpin:before {
  content:"\e336";
}

.glyphicon-iphone_shake:before {
  content:"\e337";
}

.glyphicon-pin_flag:before {
  content:"\e338";
}

.glyphicon-turtle:before {
  content:"\e339";
}

.glyphicon-rabbit:before {
  content:"\e340";
}

.glyphicon-globe:before {
  content:"\e341";
}

.glyphicon-briefcase:before {
  content:"\e342";
}

.glyphicon-hdd:before {
  content:"\e343";
}

.glyphicon-thumbs_up:before {
  content:"\e344";
}

.glyphicon-thumbs_down:before {
  content:"\e345";
}

.glyphicon-hand_right:before {
  content:"\e346";
}

.glyphicon-hand_left:before {
  content:"\e347";
}

.glyphicon-hand_up:before {
  content:"\e348";
}

.glyphicon-hand_down:before {
  content:"\e349";
}

.glyphicon-fullscreen:before {
  content:"\e350";
}

.glyphicon-shopping_bag:before {
  content:"\e351";
}

.glyphicon-book_open:before {
  content:"\e352";
}

.glyphicon-nameplate:before {
  content:"\e353";
}

.glyphicon-nameplate_alt:before {
  content:"\e354";
}

.glyphicon-vases:before {
  content:"\e355";
}

.glyphicon-bullhorn:before {
  content:"\e356";
}

.glyphicon-dumbbell:before {
  content:"\e357";
}

.glyphicon-suitcase:before {
  content:"\e358";
}

.glyphicon-file_import:before {
  content:"\e359";
}

.glyphicon-file_export:before {
  content:"\e360";
}

.glyphicon-bug:before {
  content:"\e361";
}

.glyphicon-crown:before {
  content:"\e362";
}

.glyphicon-smoking:before {
  content:"\e363";
}

.glyphicon-cloud-upload:before {
  content:"\e364";
}

.glyphicon-cloud-download:before {
  content:"\e365";
}

.glyphicon-restart:before {
  content:"\e366";
}

.glyphicon-security_camera:before {
  content:"\e367";
}

.glyphicon-expand:before {
  content:"\e368";
}

.glyphicon-collapse:before {
  content:"\e369";
}

.glyphicon-collapse_top:before {
  content:"\e370";
}

.glyphicon-globe_af:before {
  content:"\e371";
}

.glyphicon-global:before {
  content:"\e372";
}

.glyphicon-spray:before {
  content:"\e373";
}

.glyphicon-nails:before {
  content:"\e374";
}

.glyphicon-claw_hammer:before {
  content:"\e375";
}

.glyphicon-classic_hammer:before {
  content:"\e376";
}

.glyphicon-hand_saw:before {
  content:"\e377";
}

.glyphicon-riflescope:before {
  content:"\e378";
}

.glyphicon-electrical_socket_eu:before {
  content:"\e379";
}

.glyphicon-electrical_socket_us:before {
  content:"\e380";
}

.glyphicon-pinterest:before {
  content:"\e381";
}

.glyphicon-dropbox:before {
  content:"\e382";
}

.glyphicon-google_plus:before {
  content:"\e383";
}

.glyphicon-jolicloud:before {
  content:"\e384";
}

.glyphicon-yahoo:before {
  content:"\e385";
}

.glyphicon-blogger:before {
  content:"\e386";
}

.glyphicon-picasa:before {
  content:"\e387";
}

.glyphicon-amazon:before {
  content:"\e388";
}

.glyphicon-tumblr:before {
  content:"\e389";
}

.glyphicon-wordpress:before {
  content:"\e390";
}

.glyphicon-instapaper:before {
  content:"\e391";
}

.glyphicon-evernote:before {
  content:"\e392";
}

.glyphicon-xing:before {
  content:"\e393";
}

.glyphicon-zootool:before {
  content:"\e394";
}

.glyphicon-dribbble:before {
  content:"\e395";
}

.glyphicon-deviantart:before {
  content:"\e396";
}

.glyphicon-read_it_later:before {
  content:"\e397";
}

.glyphicon-linked_in:before {
  content:"\e398";
}

.glyphicon-forrst:before {
  content:"\e399";
}

.glyphicon-pinboard:before {
  content:"\e400";
}

.glyphicon-behance:before {
  content:"\e401";
}

.glyphicon-github:before {
  content:"\e402";
}

.glyphicon-youtube:before {
  content:"\e403";
}

.glyphicon-skitch:before {
  content:"\e404";
}

.glyphicon-foursquare:before {
  content:"\e405";
}

.glyphicon-quora:before {
  content:"\e406";
}

.glyphicon-badoo:before {
  content:"\e407";
}

.glyphicon-spotify:before {
  content:"\e408";
}

.glyphicon-stumbleupon:before {
  content:"\e409";
}

.glyphicon-readability:before {
  content:"\e410";
}

.glyphicon-facebook:before {
  content:"\e411";
}

.glyphicon-twitter:before {
  content:"\e412";
}

.glyphicon-instagram:before {
  content:"\e413";
}

.glyphicon-posterous_spaces:before {
  content:"\e414";
}

.glyphicon-vimeo:before {
  content:"\e415";
}

.glyphicon-flickr:before {
  content:"\e416";
}

.glyphicon-last_fm:before {
  content:"\e417";
}

.glyphicon-rss:before {
  content:"\e418";
}

.glyphicon-skype:before {
  content:"\e419";
}

.glyphicon-e-mail:before {
  content:"\e420";
}
