/* 
    Document   : infra
    Created on : Jul 20, 2013, 6:20:07 PM
    Author     : SWARNENDU
    Description:
        Purpose of the stylesheet follows.
*/

#main_container{
  width: 100%;
  height: 100%;
}

/************************** Login **********************/

.login{
  width: 100%;
  height: 100%;
}

.login .wrapper {
  width:400px;
  height:500px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-200px;
}

.login .wrapper h1>a {
  color:#fff;
  display:block;
  font-weight:300;
  font-size:48px;
  text-align:center;
  text-decoration:none;
  padding:2px 0;
}

.login .wrapper h1>a img {
  margin-right:20px;
  margin-top:-8px;
}

.login .wrapper .login-body {
  margin-top:20px;
  background:#fff;
}

.login .wrapper .login-body form {
  padding:0 30px;
}

.login .wrapper .login-body h2 {
  font-weight:300;
  color:#333;
  font-size:24px;
  padding:20px 30px 5px;
}

.login .wrapper .login-body .email input,.login .wrapper .login-body .pw input {
  height:35px;
  padding:8px 12px;
}

.login .wrapper .login-body .submit {
  margin-top:15px;
  zoom:1;
}

.login .wrapper .login-body .submit .remember {
  float:left;
  margin-top:5px;
  margin-left:1px;
}

.login .wrapper .login-body .login-options {
  margin-top:50px;
  height: 100%;
}

.login .wrapper .login-body .login-options a {
  background:#eee;
  text-align:center;
  display:block;
  text-decoration:none;
  color:#555;
  padding:10px 0;
  width: 50%;
  float: left;
}

.login .wrapper .login-body .login-options a span {
  line-height:30px;
  margin-bottom:10px;
  position:relative;
}



/************************** Login ENDS **********************/



