@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
 
.dropdown-menu {
  border:2px solid #666;
  background:#fff;
  margin-top:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

.dropdown-menu>li>a {
  font-size:13px;
  filter:none;
  padding:6px 15px;
}

.tooltip {
  z-index:99999;
}

.tab-content {
  overflow:visible;
}

.input-prepend .btn-group .btn:first-child,.input-append .btn-group .btn:first-child {
  border:1px solid #ccc;
  -webkit-border-radius:0!important;
  -moz-border-radius:0!important;
  border-radius:0!important;
  padding:4px 8px;
}

.input-append .add-on:last-child,.input-append .btn:last-child,.input-append .btn-group:last-child>.dropdown-toggle,.input-prepend .btn:first-child {
  border:1px solid #ccc;
  padding:4px 8px;
}

.input-prepend .add-on:first-child {
  border:1px solid #ccc;
  padding:4px 6px;
}

.label {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  text-shadow:none;
}

textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input {
  background:#f9f9f9;
}

.form-horizontal .control-label {
  text-align:left;
  width:140px;
}

.form-horizontal .controls {
  margin-left:160px;
}

.dropdown-menu.dropdown-danger {
  border-color:#e51400;
}

.dropdown-menu.dropdown-danger>li>a:hover {
  background:#e51400;
  color:#fff;
}

.dropdown-menu.dropdown-warning {
  border-color:#fab750;
}

.dropdown-menu.dropdown-warning>li>a:hover {
  background:#f8a31f;
  color:#fff;
}

.dropdown-menu.dropdown-success {
  border-color:#393;
}

.dropdown-menu.dropdown-success>li>a:hover {
  background:#393;
  color:#fff;
}

.dropdown-menu.dropdown-inverse {
  border-color:#484848;
}

.dropdown-menu.dropdown-inverse>li>a:hover {
  background:#484848;
  color:#fff;
}

.btn {
  background:#eee;
  border:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  text-shadow:none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  color:#444;
  filter:none;
  padding:5px 9px;
}

.btn.btn-large {
  padding:10px 16px;
}

.btn.btn-small {
  padding:3px 7px;
}

.btn.btn-mini {
  padding:1px 4px;
}

.btn:hover {
  background:#ccc;
  text-shadow:none;
}

.btn:focus {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  outline:none;
}

.btn.btn-primary {
  background:#368ee0;
  color:#fff;
  text-shadow:none;
  filter:none;
}

.btn.btn-primary:hover {
  background:#1e74c5;
}

.btn.btn-info {
  background:#a4ccf1;
  text-shadow:none;
  filter:none;
}

.btn.btn-info:hover {
  background:#62a7e7;
  color:#333;
}

.btn.btn-warning {
  background:#fab750;
  text-shadow:none;
  filter:none;
}

.btn.btn-warning:hover {
  background:#f8a31f;
  color:#333;
}

.btn.btn-danger {
  background:#f43;
  text-shadow:none;
  color:#fff;
  filter:none;
}

.btn.btn-success {
  background:#40bf40;
  text-shadow:none;
  color:#fff;
  filter:none;
}

.btn.btn-inverse {
  background:#484848;
  text-shadow:none;
  color:#fff;
  filter:none;
}

.btn.btn-inverse:hover {
  background:#111;
}

.popover {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  padding:0;
}

.progress {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  background:#fff;
  filter:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

.table.table-condensed tr th,.table.table-condensed tr td {
  padding:4px 5px;
}

.table tr th,.table tr td {
  border-top:1px dotted #ddd;
  padding:10px;
}

.form-actions {
  background:0;
  border:0;
}

#content {
  position:relative;
  min-height:100%;
}

#content.nav-fixed #left {
  top:40px;
}

#main {
  zoom:1;
  background:#fff;
  margin-left:200px;
  overflow:visible;
  padding-bottom:30px;
}

#main .page-header {
  border:0;
  zoom:1;
  margin:15px 0;
  padding:0 3px;
}

#main .page-header .pull-left h1 {
  font-size:30px;
  color:#2a2a2a;
  line-height:24px;
  font-weight:400;
  margin:20px 0;
}

#main .page-header .pull-left h6 {
  color:#777;
  font-weight:400;
  margin:0;
}

#main .breadcrumbs {
  zoom:1;
  background:#f4f4f4;
}

#main .breadcrumbs ul {
  list-style-type:none;
  zoom:1;
  float:left;
  margin:0;
  padding:2px 5px;
}

#main .breadcrumbs ul>li {
  float:left;
  color:#666;
}

#main .breadcrumbs ul>li>a {
  color:#666;
  display:block;
  font-size:12px;
  float:left;
  padding:2px 6px;
}

#main .breadcrumbs ul>li i {
  float:left;
  font-size:11px;
  margin:7px 0 6px;
}

#main .breadcrumbs .close-bread>a {
  color:#999;
  display:block;
  font-size:14px;
  margin:4px 8px;
}

#main .ui-state-highlight {
  background:red;
  height:50px;
}

#footer {
  text-align:center;
  background:#eee;
  width:100%;
  position:relative;
}

#footer p {
  margin-bottom:0;
  padding:10px 0;
}

#footer .gototop {
  text-decoration:none;
  color:#333;
  font-size:16px;
  position:absolute;
  display:block;
  top:0;
  right:0;
  padding:10px 15px;
}

.sidebar-right #left {
  left:auto;
  right:0;
}

.sidebar-right #left .subnav .dropdown-submenu>a:after {
  display:block;
  float:left;
  width:0;
  height:0;
  margin-top:5px;
  margin-left:-9px;
  content:" ";
  border-color:rgba(0,0,0,0) #aaa rgba(0,0,0,0) rgba(0,0,0,0);
  border-style:solid;
  border-width:5px 5px 5px 0;
}

.sidebar-right #left .subnav .subnav-menu>li.dropdown>a:after {
  position:absolute;
  left:5px;
  top:10px;
  width:5px;
  content:" ";
  border-color:rgba(0,0,0,0) #999 rgba(0,0,0,0) rgba(0,0,0,0);
  border-style:solid;
  border-width:5px 5px 5px 0;
}

.sidebar-right #left .subnav .subnav-menu>li.dropdown.open .dropdown-menu {
  left:auto;
  right:100%;
}

.sidebar-right #left .subnav .subnav-menu>li.dropdown.open>.dropdown-menu {
  border-right:0;
  border-left:2px solid #aaa;
}

.sidebar-right #main {
  margin-left:0;
  margin-right:200px;
}

#left {
  width:200px;
  position:absolute;
  left:0;
  bottom:0;
  background:#eee;
  height:100%;
  overflow-x:visible;
}

#left.mobile-show {
  position:fixed;
  z-index:1000;
}

#left.full {
  bottom:auto;
  height:auto;
}

#left.sidebar-fixed {
  position:fixed;
  top:40px;
  overflow-x:hidden;
}

#left.sidebar-fixed .ui-resizable-handle {
  right:0;
}

#left .subnav .subnav-content {
  zoom:1;
  padding:10px 20px;
}

#left .subnav .subnav-content.less {
  padding:10px 13px;
}

#left .subnav .subnav-title {
  zoom:1;
  text-overflow:ellipsis;
  white-space:nowrap;
}

#left .subnav .subnav-title span {
  margin-left:20px;
  font-size:18px;
  text-overflow:ellipsis;
  white-space:nowrap;
}

#left .subnav .subnav-title .toggle-subnav {
  color:#444;
  text-decoration:none;
  display:block;
  position:relative;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  padding:1px 6px;
}

#left .subnav .subnav-title .toggle-subnav i {
  position:absolute;
  font-size:14px;
  left:10px;
  top:4px;
  display:none;
}

#left .subnav .subnav-title .toggle-subnav:hover {
  color:#222;
}

#left .subnav .subnav-menu {
  list-style-type:none;
  margin:5px 0;
  padding:0;
}

#left .subnav .subnav-menu>li {
  text-overflow:ellipsis;
  white-space:nowrap;
}

#left .subnav .subnav-menu>li.dropdown>a:after {
  position:absolute;
  right:5px;
  top:10px;
  width:5px;
  content:" ";
  border-color:rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #999;
  border-style:solid;
  border-width:5px 0 5px 5px;
}

#left .subnav .subnav-menu>li.dropdown.open .dropdown-menu {
  left:100%;
  top:0;
  border-left:0;
  border-color:#aaa;
  margin:0;
}

#left .subnav .subnav-menu>li.dropdown.open .dropdown-menu .dropdown-submenu .dropdown-menu {
  border-left:2px solid #999;
}

#left .subnav .subnav-menu>li.dropdown.open .dropdown-menu .dropdown-submenu:hover>a:after,#left .subnav .subnav-menu>li.dropdown.open .dropdown-menu .dropdown-submenu:focus>a:after {
  border-left-color:#999;
}

#left .subnav .subnav-menu>li>a {
  color:#555;
  display:block;
  text-decoration:none;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  padding:5px 0 5px 27px;
}

#left .subnav .subnav-menu>li>a:hover {
  background:#ddd;
  color:#222;
}

#left .subnav .subnav-menu>li.active>a {
  background:#ccc;
  color:#222;
  font-weight:700;
}

.mobile-sidebar-toggle {
  float:left;
  color:#fff;
  margin-right:5px;
  display:none;
  padding:11px 10px 9px;
}

.mobile-sidebar-toggle:hover {
  background:#1e74c5;
  text-decoration:none;
  color:#fff;
}

.language-select .dropdown-menu a {
  padding:6px 15px!important;
}

.language-select .dropdown-menu a img {
  top:11px;
  left:11px;
}

.language-select a {
  position:relative;
  padding:9px 10px 11px!important;
}

.language-select a img {
  margin-left:0!important;
  position:absolute;
  top:15px;
  left:13px;
}

.language-select a span {
  margin-left:25px;
}

.theme-settings>li {
  margin-top:10px;
  padding:0;
}

.theme-settings>li span {
  color:#666;
  display:block;
  padding-left:15px;
}

.theme-settings>li .version-toggle>a,.theme-settings>li .topbar-toggle>a,.theme-settings>li .sidebar-toggle>a {
  display:block;
  color:#444;
  text-decoration:none;
  padding:5px 25px;
}

.theme-settings>li .version-toggle>a.active:before,.theme-settings>li .topbar-toggle>a.active:before,.theme-settings>li .sidebar-toggle>a.active:before {
  position:absolute;
  left:10px;
  top:4px;
  content:"\f111";
  font-family:FontAwesome;
  font-size:8px;
}

.theme-colors {
  zoom:1;
  margin:0;
  padding:0 0 5px;
}

.theme-colors li.subtitle {
  display:block;
  float:none;
  color:#666;
  clear:both;
  margin:10px 0 5px 15px;
}

.theme-colors li span {
  cursor:pointer;
  display:block;
  width:30px;
  float:left;
  height:30px;
  margin:8px 0 0 8px;
}

.theme-colors li span.lime {
  background:#8cbf26;
}

.theme-colors li span.teal {
  background:#00aba9;
}

.theme-colors li span.purple {
  background:#ff0097;
}

.theme-colors li span.brown {
  background:#a05000;
}

.theme-colors li span.pink {
  background:#e671b8;
}

.theme-colors li span.magenta {
  background:#a200ff;
}

.theme-colors li span.darkblue {
  background:#204e81;
}

.theme-colors li span.lightred {
  background:#e63a3a;
}

.theme-colors li span.lightgrey {
  background:#666;
}

.theme-colors li span.satblue {
  background:#2c5e7b;
}

.theme-colors li span.satgreen {
  background:#56af45;
}

.theme-colors li span.grey-4 {
  background:#999;
}

#navigation {
  background:#368ee0;
  position:relative;
  z-index:100;
}

#navigation.navbar-fixed-top {
  position:fixed;
  z-index:1030;
}

#navigation .dropdown-menu {
  border-top:0;
  border-color:#368ee0;
}

#navigation .dropdown-menu>li.dropdown-submenu .dropdown-menu {
  border-top:2px solid #368ee0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  margin-left:0;
}

#navigation .dropdown-menu>li.dropdown-submenu:hover>a:after,#navigation .dropdown-menu>li.dropdown-submenu:focus>a:after {
  border-left-color:#fff;
}

#navigation .toggle-nav {
  float:left;
  color:#fff;
  display:block;
  font-size:14px;
  text-decoration:none;
  padding:10px;
}

#navigation .toggle-nav:hover {
  background-color:#1b67af;
}

#navigation #brand {
  float:left;
  color:#fff;
  font-size:20px;
  margin-top:9px;
  padding-right:69px;
  padding-left:35px;
  padding-bottom:2px;
  background:url(../img/logo.png) no-repeat;
}

#navigation .toggle-mobile {
  color:#fff;
  background:#1b67af;
  display:block;
  text-decoration:none;
  float:right;
  padding:11px 10px 9px;
}

#navigation .mobile-nav.open {
  display:block;
  list-style:none;
  background:#368ee0;
  margin:0;
  padding:0 20px 20px;
}

#navigation .mobile-nav.open>li {
  display:block;
  margin-top:1px;
}

#navigation .mobile-nav.open>li.active>a {
  background:#144d82;
  color:#fff;
}

#navigation .mobile-nav.open>li>a {
  display:block;
  background:#1b67af;
  color:#fff;
  text-decoration:none;
  padding:8px 12px;
}

#navigation .mobile-nav.open>li>a i {
  float:right;
  margin-top:3px;
}

#navigation .mobile-nav.open>li>ul {
  background:#1b67af;
  list-style-type:none;
  margin:0;
  padding:0 0 10px;
}

#navigation .mobile-nav.open>li>ul>li a {
  display:block;
  color:#fff;
  text-decoration:none;
  padding:4px 35px;
}

#navigation .user .icon-nav {
  float:left;
  font-family:'Open Sans', sans-serif!important;
}

#navigation .user .icon-nav>li {
  margin-right:3px;
  float:left;
}

#navigation .user .icon-nav>li .message-ul {
  width:280px;
  padding:0;
}

#navigation .user .icon-nav>li .message-ul.feed>li>a {
  padding:10px 20px;
}

#navigation .user .icon-nav>li .message-ul.feed>li>a .message .label {
  margin-right:5px;
  padding:2px;
}

#navigation .user .icon-nav>li .message-ul>li>a {
  overflow:hidden;
  zoom:1;
  padding:10px;
}

#navigation .user .icon-nav>li .message-ul>li>a:hover {
  background:#f3f3f3;
  color:#333;
}

#navigation .user .icon-nav>li .message-ul>li>a:hover .count {
  color:#ccc;
}

#navigation .user .icon-nav>li .message-ul>li>a img {
  float:left;
  width:40px;
}

#navigation .user .icon-nav>li .message-ul>li>a .details {
  float:left;
  margin-left:10px;
  max-width:210px;
  overflow:hidden;
}

#navigation .user .icon-nav>li .message-ul>li>a .details .name {
  font-size:15px;
}

#navigation .user .icon-nav>li .message-ul>li>a .details .message {
  margin-top:2px;
  color:#777;
}

#navigation .user .icon-nav>li .message-ul>li>a .count {
  float:right;
  color:#e3e3e3;
  font-size:30px;
  position:relative;
  margin-top:2px;
}

#navigation .user .icon-nav>li .message-ul>li>a .count span {
  font-size:13px;
  color:#666;
  position:absolute;
  text-align:center;
  left:0;
  right:0;
  top:5px;
}

#navigation .user .icon-nav>li .message-ul>li>a.more-messages {
  background:#e6e6e6;
  text-align:center;
  padding:8px 15px;
}

#navigation .user .icon-nav>li>a {
  display:block;
  color:#fff;
  position:relative;
  padding:11px 10px 9px;
}

#navigation .user .icon-nav>li>a .label {
  position:absolute;
  top:5px;
  right:3px;
  font-size:11px;
  font-weight:400;
  padding:0 3px;
}

#navigation .user .icon-nav>li>a:hover {
  background:#1b67af;
  text-decoration:none;
}

#navigation .user .icon-nav>li>a i {
  color:#fff;
  font-size:16px;
}

#navigation .user .dropdown>a {
  display:block;
  color:#fff;
  text-decoration:none;
  padding:7px 12px 6px;
}

#navigation .main-nav>li {
  float:left;
  position:relative;
  margin:0;
}

#navigation .main-nav>li.active>a {
  background:#fff;
  text-decoration:none;
  color:#2a2a2a;
}

#navigation .main-nav>li.active>a .caret {
  border-top-color:#333;
}

#navigation .main-nav>li.open>a {
  background:#1e74c5;
  text-decoration:none;
}

#navigation .main-nav>li.open.active>.dropdown-menu {
  left:-2px;
}

#navigation .main-nav>li>a {
  display:block;
  color:#fff;
  padding:10px 15px;
}

#navigation .main-nav>li>a:hover {
  text-decoration:none;
  background:#1e74c5;
}

#navigation .main-nav>li>a .caret {
  border-top-color:#fff;
  margin:9px 0 0 2px;
}

.accordion-widget .accordion-group {
  border:2px solid #eee;
}

.accordion-widget .accordion-group:hover {
  border-color:#ddd!important;
}

.accordion-widget .accordion-group .accordion-heading .accordion-toggle {
  font-size:20px;
  color:#333;
  position:relative;
  padding:13px 0 13px 13px;
}

.accordion-widget .accordion-group .accordion-heading .accordion-toggle:hover {
  text-decoration:none;
  background:#ddd!important;
}

.letterbox {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(255,255,255,0.8);
}

.letterbox .letter>li {
  text-align:center;
  height:40px;
  width:40px;
  background:#ddd;
  float:left;
  font-size:18px;
  line-height:40px;
  color:#aaa;
  margin:10px;
}

.letterbox .letter>li.active {
  background:#368ee0;
  color:#fff;
  cursor:pointer;
}

.blog-widget .blog-widget-title {
  font-weight:400;
  font-size:18px;
}

.blog-widget-recent-posts>li>a {
  color:#333;
  display:block;
  text-decoration:none;
  font-size:14px;
  zoom:1;
  padding:5px 10px;
}

.blog-widget-recent-posts>li>a:hover {
  background:#eee;
  color:#000;
}

.blog-widget-recent-posts>li>a .details {
  display:block;
  color:#777;
  font-size:12px;
}

.blog-widget-recent-posts>li>a .details .date {
  margin-right:10px;
}

.blog-widget-latest-photos>li>a>img {
  max-width:80px;
}

.blog-widget-categories>li>a {
  display:block;
  color:#333;
  text-decoration:none;
  padding:5px 10px;
}

.blog-widget-categories>li>a:hover {
  color:#000;
  background:#eee;
}

.blog-widget-tags>li>a {
  display:block;
  background:#368ee0;
  color:#fff;
  text-decoration:none;
  padding:3px 6px;
}

.blog-list-post {
  margin-top:40px;
  padding-bottom:30px;
  border-bottom:2px solid #eee;
}

.blog-list-post.small .preview-img {
  margin:13px 0;
}

.blog-list-post .post-content .post-title {
  font-weight:400;
  font-size:21px;
}

.blog-list-post .post-content .post-meta .date,.blog-list-post .post-content .post-meta .comments,.blog-list-post .post-content .post-meta .tags,.blog-list-post .post-content .post-meta .author {
  float:left;
  margin-right:15px;
  color:#777;
}

.blog-list-post .post-content .post-meta .date i,.blog-list-post .post-content .post-meta .comments i,.blog-list-post .post-content .post-meta .tags i,.blog-list-post .post-content .post-meta .author i {
  margin-right:3px;
  display:inline-block;
}

.blog-list-post .post-content .post-meta .tags>a {
  display:inline-block;
  background:#eee;
  color:#666;
  text-decoration:none;
  padding:0 4px;
}

.blog-list-post .post-content .post-meta .tags>a:hover {
  color:#333;
  background:#c8c8c8;
}

.blog-list-post .post-content .post-text {
  margin-top:15px;
  color:#555;
}

.blog-list-post .post-comments .new-comment h4 {
  font-weight:400;
}

.blog-list-post .post-comments h3 {
  font-weight:400;
  border-top:2px solid #368ee0;
  padding-top:10px;
  margin-top:30px;
}

.blog-list-post .post-comments .media {
  margin-top:30px;
  border-bottom:1px dotted #ddd;
  padding-bottom:30px;
}

.blog-list-post .post-comments .media .pull-left>img {
  max-width:50px;
}

.blog-list-post .post-comments .media .media-heading small {
  margin-left:10px;
  font-size:12px;
}

.blog-list-post .post-comments .media:last-child {
  border-bottom:0;
  padding-bottom:0;
}

.highlight-toolbar {
  zoom:1;
  padding:0 10px;
}

.box.box-condensed .box-title {
  padding:2px 0 2px 4px;
}

.box.box-condensed .box-title .actions {
  margin-top:1px;
}

.box.box-condensed .box-title .actions .btn>i {
  font-size:12px;
}

.box.box-small .box-title {
  padding:0 0 0 3px;
}

.box.box-small .box-title .actions .btn>i {
  font-size:11px;
}

.box.box-small .box-title .actions .btn {
  padding:2px 7px;
}

.box.box-small .box-content {
  padding:5px;
}

.box.box-bordered .table.dataTable-fixedcolumn.DTFC_Cloned {
  border-right:2px solid #ddd;
}

.box.box-bordered .table.dataTable-fixedcolumn.DTFC_Cloned th {
  border-right:2px solid #333;
}

.box.box-bordered .slimScrollDiv {
  border-bottom:2px solid #ddd;
}

.box.box-bordered.box-color .slimScrollDiv {
  border-bottom:2px solid #368ee0;
}

.box.box-bordered .box-title {
  border:2px solid #ddd;
}

.box.box-bordered .box-content {
  border:2px solid #ddd;
  border-top:0;
}

.box .box-title {
  zoom:1;
  border-bottom:1px solid #ddd;
  margin-top:20px;
  padding:7px 0 7px 10px;
}

.box .box-title h3 {
  float:left;
  line-height:24px;
  font-weight:400;
  color:#444;
  font-size:20px;
  margin:3px 0;
}

.box .box-title h3 i {
  margin:0 10px 0 5px;
}

.box .box-title .tabs {
  float:right;
  zoom:1;
  list-style-type:none;
  margin:5px 10px 0 0;
  padding:0;
}

.box .box-title .tabs>li>a:hover {
  text-decoration:none;
  background:#eee;
}

.box .box-title .actions {
  margin-top:0;
  float:right;
  margin-right:10px;
}

.box .box-title .actions .btn {
  background:none;
  color:#333;
  padding:5px 9px;
}

.box .box-content {
  zoom:1;
  background:#fff;
  padding:20px;
}

.custom-checkbox {
  position:relative;
  padding-right:30px!important;
}

.custom-checkbox i {
  position:absolute;
  right:10px;
  top:9px;
}

.check-demo-col {
  width:200px;
  float:left;
}

.check-line {
  position:relative;
  margin-bottom:10px;
}

.check-line .inline {
  position:absolute;
  top:-1px;
  left:30px;
}

.search-form {
  height:35px;
  margin:0;
}

.search-form>.search-pane {
  height:28px;
  background:#fff;
  border:1px solid #ccc;
  margin:5px;
}

.search-form>.search-pane>input {
  background:none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  border:0;
  float:left;
  font-size:12px;
  margin-bottom:0;
  margin-top:1px;
  width:145px;
}

.search-form>.search-pane button[type="submit"] {
  float:right;
  background:#368ee0;
  color:#fff;
  border:0;
  line-height:19px;
  min-height:24px;
  margin:2px 2px 0 0;
}

.form-vertical.form-bordered .control-group {
  border-bottom:1px solid #ddd;
  padding:10px 20px;
}

.form-horizontal.form-striped .control-group {
  border-bottom:1px solid #ddd;
  padding:15px 20px;
}

.form-horizontal.form-column .form-actions {
  border-top:1px solid #ddd;
  margin-top:0;
}

.form-horizontal.form-column [class*="span"] {
  border-left:1px solid #ddd;
  margin:0;
}

.form-horizontal.form-column [class*="span"] .control-group .control-label {
  width:15%;
}

.form-horizontal.form-column .span12 {
  width:100%;
  border-left:0!important;
}

.form-horizontal.form-column .span11 {
  width:91.666%;
}

.form-horizontal.form-column .span10 {
  width:83.333%;
}

.form-horizontal.form-column .span9 {
  width:75%;
}

.form-horizontal.form-column .span8 {
  width:66.666%;
}

.form-horizontal.form-column .span7 {
  width:58.333%;
}

.form-horizontal.form-column .span5 {
  width:41.666%;
}

.form-horizontal.form-column .span2 {
  width:16.666%;
}

.form-horizontal.form-column .span1 {
  width:8.333%;
}

.form-horizontal .control-group .control-label small {
  display:block;
  color:#999;
}

.form-horizontal.form-bordered .control-group {
  border-bottom:1px solid #ddd;
  background:#f6f6f6;
  margin:0;
  padding:0;
}

.form-horizontal.form-bordered .control-group .controls {
  background:#fff;
  border-left:1px solid #ddd;
  zoom:1;
  padding:10px;
}

.form-horizontal.form-bordered .control-group .control-label {
  color:#555;
  margin:0;
  padding:15px 10px 5px;
}

.form-horizontal.form-bordered .control-group .control-label small {
  display:block;
  font-size:12px;
  color:#888;
  font-weight:400;
}

.form-button {
  display:block;
  zoom:1;
  margin-top:5px;
}

.form-button span {
  margin-left:5px;
  font-size:14px;
  margin-top:5px;
  display:block;
  float:left;
}

.gallery {
  list-style-type:none;
  zoom:1;
  margin:0 10px;
  padding:0;
}

.gallery>li {
  float:left;
  position:relative;
  cursor:pointer;
  margin:1px 0 0 1px;
}

.gallery>li .extras {
  position:absolute;
  top:0;
  left:0;
  text-align:center;
  background:rgba(0,0,0,0.8);
  display:none;
  width:100%;
  height:100%;
}

.gallery>li .extras:before {
  content:'';
  display:inline-block;
  height:100%;
  vertical-align:middle;
}

.gallery>li .extras .extras-inner {
  position:relative;
  display:inline-block;
  vertical-align:middle;
  width:90%;
  height:auto;
}

.gallery>li .extras .extras-inner a {
  color:#bbb;
  text-decoration:none;
  text-align:center;
  padding:5px;
}

.gallery>li .extras .extras-inner a:hover {
  color:#fff;
  background:#368ee0;
}

.messages {
  list-style-type:none;
  margin:0 20px 20px;
  padding:0;
}

.messages.withlist {
  margin-right:210px;
}

.messages>li.insert {
  position:relative;
  border:1px solid #ddd;
  margin-right:10px;
}

.messages>li.insert #message-form {
  background:#f9f9f9;
  margin-bottom:0;
}

.messages>li.insert .text {
  margin-right:50px;
}

.messages>li.insert .text input[type="text"] {
  border:0;
  margin-bottom:0;
  display:block;
}

.messages>li.insert .submit {
  position:absolute;
  right:0;
  top:0;
}

.messages>li.insert .submit button {
  border:0;
  background:#368ee0;
  color:#fff;
  margin:2px;
  padding:3px 4px;
}

.messages>li.insert .submit button[disabled="disabled"] {
  background:#ccc;
}

.messages>li .image {
  float:left;
  width:50px;
}

.messages>li .message {
  position:relative;
  background:#eee;
  margin-right:20px;
  margin-left:60px;
  padding:10px;
}

.messages>li .message .time {
  color:#555;
  font-size:11px;
}

.messages>li .message .caret {
  position:absolute;
  left:-7px;
  top:10px;
  border-top:7px solid transparent;
  border-bottom:7px solid transparent;
  border-right:7px solid #eee;
  border-left:0;
}

.messages>li.right .name {
  color:#0a2640;
}

.messages>li.right .message {
  background:#d1e5f8;
  margin-left:20px;
  margin-right:60px;
}

.messages>li.right .message .caret {
  left:auto;
  right:-7px;
  border-top:7px solid transparent;
  border-bottom:7px solid transparent;
  border-left:7px solid #d1e5f8;
  border-right:0;
}

.user-list {
  position:absolute;
  right:0;
  top:0;
  width:183px;
  margin-right:17px;
}

.user-list h4 {
  background:#368ee0;
  color:#fff;
  font-weight:400;
  padding:5px 8px;
}

.user-list>ul>li {
  zoom:1;
  margin:5px 0;
}

.user-list>ul>li .image {
  max-width:35px;
  min-width:10px;
  float:left;
}

.user-list>ul>li .image img {
  max-width:35px;
  min-width:10px;
}

.user-list>ul>li .username {
  float:left;
  margin-left:10px;
  line-height:35px;
}

.statistic-big .top .right {
  float:right;
  font-size:24px;
  line-height:31px;
}

.statistic-big .top .right .icon-circle-arrow-up {
  color:#393;
}

.statistic-big .stats-overview>li {
  display:inline-block;
  text-align:center;
  border-right:1px solid #ddd;
  padding:5px 15px;
}

.statistic-big .stats-overview>li .value {
  font-size:16px;
  font-weight:700;
  display:block;
  margin-top:5px;
}

.flot-tooltip {
  position:absolute;
  display:none;
  background:#000;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity:0.8;
  color:#fff;
  padding:5px;
}

.flot-tooltip .tooltip-arrow {
  position:absolute;
  margin-left:-5px;
  bottom:-5px;
  left:15px;
  border-color:#000 transparent transparent;
  border-style:solid;
  border-width:5px 5px 0;
}

.pagestats.style-3 .bottom {
  margin-top:10px;
  text-align:center;
  font-size:20px;
}

.pagestats.style-4 .bottom {
  margin-top:10px;
  font-size:18px;
}

.pagestats.style-2 .left .name {
  font-size:13px;
  margin:0;
}

.pagestats .name {
  font-size:20px;
  display:block;
  margin-left:5px;
  margin-bottom:5px;
}

.pagestats.bar span {
  font-size:11px;
  display:block;
}

.pagestats .left {
  float:left;
  margin-left:15px;
  font-size:16px;
  margin-top:3px;
}

.pricing-tables .pricing {
  list-style-type:none;
  margin-top:30px;
  float:left;
}

.pricing-tables .pricing>li {
  background:#ddd;
  border-top:1px solid #bbb;
  text-align:center;
  padding:8px 12px;
}

.pricing-tables .pricing>li:nth-child(odd) {
  background:#e3e3e3;
}

.pricing-tables .pricing>li.head {
  background:#888;
  color:#fff;
  position:relative;
  padding:0;
}

.pricing-tables .pricing>li.head .info {
  background:#4c9ae3;
  padding:5px 0;
}

.pricing-tables .pricing>li.head .name {
  background:#666;
  font-size:16px;
  padding:8px 0;
}

.pricing-tables .pricing>li.head .price {
  font-size:28px;
  padding:15px 0;
}

.pricing-tables .pricing>li.head .price span {
  display:block;
  margin-top:5px;
  font-size:12px;
}

.pricing-tables .pricing>li.button .help-text {
  font-size:11px;
  margin-top:5px;
  color:#888;
}

.widget-placeholder {
  background:#bbd9f4;
  border:1px dotted #666;
  margin:10px;
}

.widget-placeholder-2 {
  background:#bbd9f4;
}

#ui-datepicker-div {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  display:none;
}

.jq-datepicker .ui-datepicker {
  background:#fafafa;
  border:1px solid #ccc;
  font-size:11px;
  position:relative;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  padding:0;
}

.ui-datepicker {
  background:#fff;
  border:2px solid #999;
  font-size:11px;
  position:relative;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  padding:0;
}

.ui-datepicker .ui-widget-header {
  background:none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  border:0;
  padding:0;
}

.ui-datepicker .ui-datepicker-title {
  text-align:center;
  font-weight:700;
  margin:12px 0;
}

.ui-datepicker .ui-datepicker-prev {
  float:left;
  display:block;
  width:15px;
  height:15px;
  cursor:pointer;
  margin-left:2px;
  background:none!important;
  border:0!important;
  margin-top:14px;
  position:relative;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}

.ui-datepicker .ui-datepicker-prev:before {
  content:"\f104";
  font-family:FontAwesome;
  display:block;
  position:absolute;
  left:5px;
  top:-2px;
  color:#444;
}

.ui-datepicker .ui-datepicker-next {
  float:right;
  display:block;
  width:15px;
  height:15px;
  cursor:pointer;
  background:none!important;
  border:0!important;
  margin-top:14px;
  margin-right:2px;
  position:relative;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}

.ui-datepicker .ui-datepicker-next:before {
  content:"\f105";
  font-family:FontAwesome;
  display:block;
  position:absolute;
  right:5px;
  top:-2px;
  color:#444;
}

.ui-datepicker .ui-datepicker-calendar {
  margin-bottom:2px;
  margin-left:2px;
}

.ui-datepicker .ui-datepicker-calendar th {
  color:#777;
  padding:0;
}

.ui-datepicker .ui-datepicker-calendar th span {
  display:block;
  padding:0;
}

.ui-datepicker .ui-datepicker-calendar td:hover>a {
  background:#368ee0;
  text-decoration:none;
  color:#fff;
}

.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-other-month:hover>a {
  background:#62a7e7;
  text-decoration:none;
  color:#fff;
}

.ui-datepicker .ui-datepicker-calendar td>a {
  display:block;
  border:0;
  background:none;
  text-align:center;
  padding:3px 5px;
}

.userlist>li {
  zoom:1;
  border-top:1px dotted #bbb;
  padding:5px 0;
}

.userlist>li>a img {
  max-width:40px;
}

.userlist>li .user {
  float:left;
  margin-left:10px;
}

.userlist>li .user .name {
  font-weight:700;
  display:block;
  line-height:20px;
}

.userlist>li .user .position {
  display:block;
  font-weight:300;
  font-size:12px;
  margin-top:3px;
}

.userlist>li .status {
  float:right;
  font-size:8px;
  color:#b21000;
  line-height:40px;
}

.userlist>li .status.active {
  color:#267326;
}

.userlist>li .status.afk {
  color:#f4a64b;
}

.progress.small {
  height:8px;
  margin-bottom:10px;
}

.progress.small .bar {
  height:8px;
  background:#368ee0;
  filter:none;
}

.quickstats>li {
  float:left;
  text-align:center;
  width:50px;
  margin:5px 15px;
}

.quickstats>li .value {
  font-size:20px;
  display:block;
}

.quickstats>li .name {
  display:block;
  font-size:12px;
  color:#888;
}

.tags>li {
  display:inline;
  line-height:22px;
  margin:0 3px 3px 0;
}

.tags>li>a {
  line-height:22px;
}

.tags>li>a.big-5 {
  font-size:22px;
}

.bestseller>li>a {
  display:block;
  zoom:1;
}

.bestseller>li>a img {
  max-width:50px;
  float:left;
}

.bestseller>li>a .details {
  float:left;
  margin-left:5px;
}

.bestseller>li>a .details .price {
  margin-top:2px;
}

.bestseller>li>a .details .price .cross {
  display:block;
  text-decoration:line-through;
  font-size:12px;
  line-height:14px;
}

.bestseller>li>a .details .price .discount {
  display:block;
  color:#e51400;
  font-size:13px;
  line-height:14px;
}

.table.table-hover tr:hover>td {
  background:#f8f8f8;
}

.table .with-checkbox {
  width:10px;
}

.table .with-checkbox input {
  margin-left:4px;
  margin-top:0;
}

.table.dataTable {
  margin-bottom:10px;
  clear:both;
}

.table.dataTable.dataTable-grouping .group {
  background:#e6e6e6;
  border-top:2px solid #ccc;
}

.table.dataTable.dataTable-grouping .group.expanded-group {
  background:url(../img/expanded-group.jpg) no-repeat left center #e6e6e6;
  padding-left:33px;
}

.table.dataTable.dataTable-grouping .group.collapsed-group {
  background:url(../img/collapsed-group.jpg) no-repeat left center #e6e6e6;
  padding-left:33px;
}

.table.dataTable .sorting_asc {
  background:url(../img/sorting-asc.png) no-repeat right center #eee;
}

.table.dataTable .sorting_desc {
  background:url(../img/sorting-desc.png) no-repeat right center #eee;
}

.table.dataTable .sorting {
  background:url(../img/sorting.png) no-repeat right center #eee;
}

.table.dataTable .sorting,.table.dataTable .sorting_desc,.table.dataTable .sorting_asc {
  padding-right:30px;
  white-space:nowrap;
}

.table.dataTable.dataTable-scroll-x {
  border-collapse:separate;
  max-width:none;
}

.table.dataTable th:focus {
  outline:none;
}

.table tr th {
  vertical-align:middle;
  background:#eee;
}

.table.table-user tr.alpha td.alpha-val span {
  background:#368ee0;
  color:#fff;
  display:block;
  text-align:center;
  font-size:18px;
  padding:10px 0;
}

.table.table-user tr.alpha:hover td {
  background:#FFF;
  cursor:pointer;
}

.table.table-user tr td {
  border-top:1px dotted #ccc;
}

.table.table-user tr td.user {
  text-align:left;
  vertical-align:middle;
}

.table.table-user tr td.icon {
  width:20px;
  vertical-align:middle;
}

.table.table-user tr td.icon .online {
  font-size:10px;
  color:#4fa828;
}

.table-mail tbody tr.warning>td {
  background-color:#deecfa;
}

.table-mail .table-checkbox {
  width:15px;
}

.table-mail .table-icon {
  width:20px;
}

.table-mail .table-icon .sel-star {
  color:#aaa;
  text-decoration:none;
}

.dataTable-columnfilter .thefilter th,.usertable .thefilter th {
  background-color:#eee;
  vertical-align:middle;
  color:#777;
}

.dataTable-columnfilter .thefilter .filter_column input,.usertable .thefilter .filter_column input {
  margin-bottom:0;
  width:100%;
  text-indent:8px;
  background:#fff;
  padding:4px 0;
}

.dataTable-columnfilter .thefilter .filter_column select,.usertable .thefilter .filter_column select {
  margin-bottom:0;
  width:100%;
  background:#fff;
}

.input-mini select {
  width:60px;
}

.tabs.tabs-inline.tabs-top>li {
  float:left;
  margin-right:1px;
}

.tabs.tabs-inline.tabs-top>li.active>a {
  background:#fff;
  color:#333;
}

.tabs.tabs-inline.tabs-top>li>a {
  color:#666;
  background:#ddd;
  text-decoration:none;
  display:block;
  padding:10px 20px;
}

.tabs.tabs-inline.tabs-left {
  position:absolute;
  background:#eee;
  width:150px;
}

.tabs.tabs-inline.tabs-left>li:last-child>a {
  border-bottom:1px solid #bbb;
}

.tabs.tabs-inline.tabs-left>li.write>a {
  background:#e63a3a;
  color:#fff;
  margin:10px;
}

.tabs.tabs-inline.tabs-left>li.write>a:hover {
  background:#d21b1b;
  color:#fff;
}

.tabs.tabs-inline.tabs-left>li.active>a {
  background:#fff;
  color:#333;
  margin-right:-1px;
}

.tabs.tabs-inline.tabs-left>li>a {
  display:block;
  color:#666;
  background:#ddd;
  text-decoration:none;
  border-top:1px solid #bbb;
  padding:10px 20px;
}

.tab-content.padding {
  padding:20px;
}

.tab-content.tab-content-inline {
  border-left:1px solid #bbb;
  margin-left:150px;
}

.tab-content.tab-content-inline.tab-content-bottom {
  border-left:0;
  margin-left:0;
}

.tasklist {
  list-style-type:none;
  overflow:hidden;
  zoom:1;
  margin:0;
}

.tasklist li {
  cursor:pointer;
  zoom:1;
  border-bottom:1px solid #ccc;
  position:relative;
  padding:0;
}

.tasklist li:hover .task-delete {
  display:inline-block!important;
}

.tasklist li.bookmarked {
  background:#fad8d8;
}

.tasklist li.done {
  background:#e7f1fb;
}

.tasklist li.done .task span {
  text-decoration:line-through;
}

.tasklist li label,.tasklist li .check {
  float:left;
  cursor:pointer;
  border-right:1px solid #fec5bd;
  margin:0;
  padding:10px;
}

.tasklist li .task {
  float:left;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width:100%;
  position:absolute;
  left:43px;
  right:50px;
  overflow:hidden;
  padding:11px 5px 3px;
}

.tasklist li .task-actions {
  float:right;
  padding:10px 10px 0;
}

.tasklist li .task-actions .task-delete {
  display:none;
  color:#888;
  font-size:16px;
}

.tasklist li .task-actions .task-bookmark {
  color:#aaa;
  font-size:16px;
}

.tasklist li .task-actions .task-bookmark:hover {
  color:#fd6e58;
}

.stats>li {
  zoom:1;
  float:left;
  margin-right:15px;
  padding:10px 15px;
}

.stats>li i {
  font-size:36px;
  color:#fff;
  float:left;
  margin:0;
}

.stats>li .details {
  zoom:1;
  margin-left:55px;
}

.stats>li .details span {
  color:#fff;
  display:block;
  font-size:12px;
}

.tiles {
  list-style-type:none;
  margin:25px 0;
  padding:0;
}

.tiles .has-chart>a span {
  font-size:16px;
  padding:10px 20px;
}

.tiles .has-chart-2>a span {
  font-size:16px;
  padding-top:0;
  display:inline-block;
}

.tiles .has-chart-2>a span .spark-me canvas {
  margin-top:-10px;
}

.tiles.tiles-small .label {
  padding:3px 5px;
}

.tiles.tiles-small>li:hover:before {
  width:70px;
  height:70px;
}

.tiles.tiles-small>li>a {
  width:80px;
  height:80px;
}

.tiles.tiles-small>li>a span {
  font-size:30px;
  padding-top:20px;
}

.tiles .label {
  padding:5px 8px;
}

.tiles.tiles-center {
  text-align:center;
  width:100%;
}

.tiles.tiles-center>li {
  display:inline-block;
  text-align:center;
  float:none;
}

.tiles>li {
  float:left;
  position:relative;
  margin:8px 0 0 8px;
}

.tiles>li .label {
  position:absolute;
  top:-5px;
  left:-5px;
  z-index:99;
}

.tiles>li:hover:before {
  content:'';
  position:absolute;
  left:0;
  top:0;
  width:110px;
  height:110px;
  background:none;
  pointer-events:none;
  border:5px solid rgba(0,0,0,0.5);
  z-index:99;
}

.tiles>li.long:hover:before {
  width:235px;
}

.tiles>li.long>a {
  width:245px;
}

.tiles>li.long>a span {
  font-size:64px;
  padding-top:25px;
}

.tiles>li.high:hover:before {
  height:235px;
}

.tiles>li.high>a {
  height:245px;
}

.tiles>li.high>a span {
  padding-top:75px;
  font-size:96px;
}

.tiles>li.high>a span.count>i {
  margin-right:-25px;
}

.tiles>li.image>a img {
  width:120px;
  height:120px;
}

.tiles>li>a {
  width:120px;
  height:120px;
  display:block;
  color:#fff;
  text-decoration:none;
  position:relative;
  text-align:center;
}

.tiles>li>a span {
  padding-top:35px;
  font-size:48px;
  display:block;
}

.tiles>li>a span.count>i {
  margin-right:-10px;
}

.tiles>li>a span h5 {
  font-size:18px!important;
  text-align:left;
  margin:0;
  padding:10px 10px 5px;
}

.tiles>li>a span p {
  font-size:13px!important;
  text-align:left;
  padding:0 20px;
}

.tiles>li>a .name {
  font-size:13px!important;
  display:block;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  text-align:left;
  float:left;
  padding:3px 10px;
}

.tiles>li>a .name .right {
  font-size:13px;
  float:right;
  padding:0;
}

.minitiles>li {
  float:left;
  margin-right:15px;
}

.minitiles>li>a {
  display:block;
  height:61px;
  width:61px;
  color:#fff;
  text-decoration:none;
  position:relative;
  text-align:center;
}

.minitiles>li>a i {
  font-size:36px;
  line-height:61px;
}

.minitiles>li>a:hover:before {
  content:'';
  position:absolute;
  left:0;
  top:0;
  width:55px;
  height:55px;
  background:none;
  pointer-events:none;
  border:3px solid rgba(0,0,0,0.5);
  z-index:99;
}

.timeline {
  margin-left:30px!important;
}

.timeline>li {
  position:relative;
  border-bottom:2px dotted #ddd;
  padding:30px 0;
}

.timeline>li .line {
  width:4px;
  background:#eee;
  height:100%;
  display:block;
  position:absolute;
  top:0;
  bottom:0;
}

.timeline>li .timeline-content {
  position:relative;
  z-index:99;
}

.timeline>li .timeline-content .left .icon {
  background:#368ee0;
  float:left;
  font-size:24px;
  color:#fff;
  position:absolute;
  left:-18px;
  top:5px;
  padding:6px;
}

.timeline>li .timeline-content .left .date {
  position:absolute;
  top:48px;
  left:-20px;
  background:#eee;
  font-size:11px;
  padding:0 5px;
}

.timeline>li .timeline-content .activity .user {
  font-size:14px;
  margin-bottom:10px;
}

.timeline>li .timeline-content .activity .timeline-images>li>a img {
  max-width:100px;
}

body.error .wrapper {
  width:300px;
  height:230px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-165px -150px;
}

body.error .wrapper .code {
  color:#fff;
  font-size:90px;
  text-align:center;
}

body.error .wrapper .desc {
  color:#fff;
  font-size:14px;
  margin:20px 0;
}

body.error .wrapper .input-append {
  width:300px;
  background:#fff;
  padding:2px;
}

body.error .wrapper .input-append input {
  border:0;
  width:260px;
  background:#fff;
}

body.error .wrapper .input-append .btn {
  border:0;
  background:#368ee0;
  color:#fff;
}

.grids .row-fluid {
  margin-top:10px;
  margin-bottom:20px;
}

.grids .row-fluid [class*="span"] {
  background:#ccc;
  text-align:center;
  line-height:30px;
}

.the-icons li {
  margin:5px 0;
}

.invoice-info .invoice-name {
  font-size:24px;
  margin-bottom:40px;
}

.invoice-info .invoice-from,.invoice-info .invoice-to {
  float:left;
  margin-bottom:30px;
}

.invoice-info .invoice-infos {
  float:right;
  margin-right:20px;
}

.table-invoice .qty {
  width:50px;
}

.table-invoice .total {
  text-align:right;
  width:150px;
}

.table-invoice .taxes p .light {
  margin-right:20px;
  color:#888;
}

.invoice-payment ul {
  list-style-type:none;
  margin:10px;
  padding:0;
}

.invoice-payment ul li {
  float:left;
  margin-right:10px;
}

.locked .wrapper {
  width:500px;
  height:500px;
  position:absolute;
  left:50%;
  margin:200px -250px;
}

.locked .pull-left a {
  color:#fff;
  display:block;
  background:#1b67af;
  text-align:center;
  text-decoration:none;
  padding:4px 8px;
}

.locked .right .upper h2 {
  color:#fff;
  font-weight:300;
  margin:0;
}

.locked .right .upper span {
  display:block;
  color:#fff;
}

.locked .right form input {
  border:0;
  margin-bottom:0;
}

.pagination.pagination-custom {
  height:28px;
  margin-top:-1px;
}

.pagination.pagination-custom li a {
  background:#eee;
  text-decoration:none;
  color:#333;
  border:0;
  padding:5px 12px;
}

.search-results ul li {
  zoom:1;
  border-top:1px dotted #bbb;
  padding:15px;
}

.search-results ul li:last-child {
  -moz-border-radius-bottomleft:0;
  -webkit-border-bottom-left-radius:0;
  border-bottom-left-radius:0;
  -moz-border-radius-bottomright:0;
  -webkit-border-bottom-right-radius:0;
  border-bottom-right-radius:0;
}

.search-results ul li .thumbnail {
  float:left;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}

.search-results ul li .search-info {
  margin-left:110px;
}

.search-results ul li .search-info .url {
  color:#29b754;
}

.shop-items>li:hover .extended {
  display:block;
  position:absolute;
  z-index:999;
  background:#368ee0;
  left:0;
  right:0;
}

.shop-items>li>a img {
  max-width:100%;
}

.shop-items>li>a .details .name {
  display:block;
  font-size:16px;
  color:#333;
}

.shop-items>li>a .details .price {
  text-align:right;
  font-size:18px;
}

.shop-items>li .extended {
  display:none;
  zoom:1;
  padding:10px 10px 5px;
}

.shop-items>li .extended .pull-right>a {
  color:#fff;
  font-size:16px;
  text-decoration:none;
  padding:2px 5px;
}

.product-details .price {
  font-size:24px;
}

.calendar {
  margin-top:10px;
}

.calendar .fc-header .fc-header-title h2 {
  font-size:18px;
  font-weight:300;
  margin-bottom:0;
  line-height:25px;
}

.calendar .fc-header .fc-header-right .fc-button {
  position:relative;
  top:-45px;
}

.calendar .fc-content .fc-event {
  font-size:12px;
  border:0!important;
}

.calendar .fc-content .fc-event .fc-event-inner {
  background:#368ee0;
  border:0!important;
  margin:0;
}

.calendar .fc-content .fc-event .fc-event-inner .fc-event-title {
  padding:2px 5px;
}

.calendar .fc-content .fc-event .fc-event-inner .fc-event-time {
  padding:2px 2px 2px 5px;
}

.calendar .fc-button {
  background:none;
  border:0!important;
  margin-right:5px;
}

.calendar .fc-button.fc-button-next .fc-button-content,.calendar .fc-button.fc-button-prev .fc-button-content {
  padding:0 9px;
}

.calendar .fc-button.fc-button-next .fc-button-content i,.calendar .fc-button.fc-button-prev .fc-button-content i {
  color:#666;
}

.calendar .fc-button.fc-button-prev {
  margin-right:10px;
  margin-left:0;
}

.calendar .fc-button .fc-button-inner {
  background:none;
  border:0!important;
}

.flot.small {
  height:150px;
}

.flot.medium {
  height:200px;
}

.chzn-container .chzn-drop {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

.chzn-container.chzn-container-single .chzn-single {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  background:#fff;
  padding-top:3px;
  padding-bottom:3px;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

.chzn-container.chzn-container-single .chzn-single div b {
  background-position-y:2px;
}

.chzn-container.chzn-container-multi .chzn-choices {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  background:#fff;
}

.chzn-container.chzn-container-multi .chzn-choices .search-choice {
  background:#eee;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}

.cke.cke_chrome {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  border:0;
}

.cke .cke_top {
  background:#fff;
  border:1px solid #ddd;
  border-bottom:0;
  border-top:0;
}

.cke .cke_top .cke_button,.cke .cke_top .cke_combo_button {
  background:#eee;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  border:0;
  cursor:pointer;
}

.cke .cke_top .cke_button:hover,.cke .cke_top .cke_button.cke_button_on,.cke .cke_top .cke_button:active,.cke .cke_top .cke_button:focus,.cke .cke_top .cke_combo_button:hover,.cke .cke_top .cke_combo_button.cke_button_on,.cke .cke_top .cke_combo_button:active,.cke .cke_top .cke_combo_button:focus {
  background:#bbb;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  border:0;
}

.cke .cke_top .cke_combo.cke_combo_on .cke_combo_button {
  background:#bbb;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

.cke .cke_top .cke_toolbar_separator {
  background:#aaa;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

.cke .cke_top .cke_toolgroup {
  border:0;
  background:#fff;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  margin:0 10px 9px 0;
}

.cke .cke_bottom {
  background:#eee;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  border:1px solid #ddd;
  border-top:0;
}

table.DTCR_clonedTable {
  background-color:#FFF;
  z-index:202;
  cursor:move;
}

div.DTCR_pointer {
  width:1px;
  background-color:#368ee0;
  z-index:201;
}

div.DTCR_pointer:before {
  content:"\f063";
  font-family:FontAwesome;
  position:absolute;
  top:-25px;
  left:-5px;
  color:#368ee0;
}

.ColVis {
  float:right;
  margin-bottom:1em;
}

.ColVis_Button {
  position:relative;
  float:left;
  margin-right:3px;
  height:30px;
  background-color:#fff;
  border:1px solid #d0d0d0;
  cursor:hand;
  padding:3px 5px;
}

button.ColVis_Button::-moz-focus-inner {
  border:none!important;
  padding:0;
}

div.ColVis_collectionBackground {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color:#000;
  z-index:1100;
}

div.ColVis_collection {
  position:relative;
  width:150px;
  background-color:#f3f3f3;
  border:1px solid #ccc;
  z-index:1102;
  padding:3px;
}

div.ColVis_collection button.ColVis_Button {
  background-color:#FFF;
  width:100%;
  float:none;
  margin-bottom:2px;
}

div.ColVis_collection button.ColVis_Group {
  background:#dadada;
  border:1px solid #bababa;
}

div.ColVis_catcher {
  position:absolute;
  z-index:1101;
}

div.ColVis_collection button.ColVis_Group:hover {
  background:#bababa;
  border:1px solid #424242;
}

span.ColVis_radio {
  display:inline-block;
  width:20px;
}

.dataTables_wrapper .ColVis {
  margin:10px 10px 10px 0;
}

.dataTables_wrapper .ColVis .ColVis_Button {
  background:#eee;
  border:0;
  padding:3px 8px;
}

.dataTables_wrapper .dataTables_length {
  float:left;
  min-width:200px;
  margin:10px 10px 5px;
}

.dataTables_wrapper .dataTables_length label>span {
  float:left;
  margin:4px 5px;
}

.dataTables_wrapper .DTTT_container {
  margin:10px 5px 10px 0;
}

.dataTables_wrapper .DTTT_container .DTTT_button {
  background:#eee;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  border:0;
  margin-right:5px;
  color:#333;
}

.dataTables_wrapper .dataTables_filter {
  float:right;
  margin:10px 10px 5px 5px;
}

.dataTables_wrapper .dataTables_info {
  float:left;
  margin-left:10px;
  margin-top:10px;
  margin-bottom:10px;
}

.dataTables_scroll {
  clear:both;
}

.dataTables_scrollBody {
  margin-top:-1px;
  -webkit-overflow-scrolling:touch;
}

.DTFC_Cloned {
  background:#eee;
  border-right:1px solid #ddd;
}

.DTFC_LeftHeadWrapper {
  border-right:1px solid #ddd;
}

div.DTS div.DTS_Loading {
  position:absolute;
  top:50%;
  left:50%;
  width:200px;
  height:20px;
  margin-top:-20px;
  margin-left:-100px;
  z-index:1;
  border:1px solid #999;
  text-align:center;
  background-color:rgba(255,255,255,0.5);
  padding:20px 0;
}

div.DTS div.dataTables_scrollBody {
  z-index:2;
}

.datepicker.datepicker-dropdown .datepicker-days .active,.datepicker.datepicker-dropdown .datepicker-years .active,.datepicker.datepicker-dropdown .datepicker-months .active {
  background:#368ee0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}

.datepicker.datepicker-dropdown .datepicker-days .active:hover,.datepicker.datepicker-dropdown .datepicker-years .active:hover,.datepicker.datepicker-dropdown .datepicker-months .active:hover {
  background:#1e74c5;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}

.daterangepicker .active {
  background:#368ee0;
  background-image:none!important;
}

.elfinder .elfinder-toolbar {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  background:#fff;
  border-color:#ccc;
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-toolbar-button-separator {
  border-color:#eee;
}

.elfinder .elfinder-toolbar .elfinder-button {
  border:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  background:#fff;
}

.elfinder .elfinder-toolbar .elfinder-button:hover {
  background:#ddd;
  cursor:pointer;
}

.elfinder .elfinder-toolbar .elfinder-button.ui-state-disabled {
  background:#fff;
  cursor:default;
}

.elfinder .elfinder-toolbar .elfinder-button.ui-state-disabled .elfinder-button-icon {
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity:0.2;
}

.elfinder .elfinder-button-search input {
  margin-bottom:0;
  border-color:#ccc;
}

.elfinder .elfinder-statusbar {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  background:#eee;
  border-color:#ccc;
  padding:10px 12px;
}

.elfinder .elfinder-navbar .elfinder-navbar-dir {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  padding:5px 12px 5px 40px;
}

.activeFolder,.additionalInformation {
  font-weight:700;
  margin-left:5px;
}

.btn-file {
  position:relative;
  overflow:hidden;
  vertical-align:middle;
  border:1px solid #ccc;
  padding:4px 8px;
}

.btn-file>input {
  position:absolute;
  top:0;
  right:0;
  font-size:23px;
  cursor:pointer;
  opacity:0;
  filter:alpha(opacity=0);
  transform:translate(-300px,0) scale(4);
  direction:ltr;
  margin:0;
}

.fileupload .uneditable-input {
  display:inline-block;
  margin-bottom:0;
  vertical-align:middle;
  cursor:text;
}

.fileupload .thumbnail {
  display:inline-block;
  margin-bottom:5px;
  overflow:hidden;
  text-align:center;
  vertical-align:middle;
}

.fileupload .thumbnail>img {
  display:inline-block;
  max-height:100%;
  vertical-align:middle;
}

.fileupload-inline .fileupload-controls {
  display:inline;
}

.fileupload-new .input-append .btn-file {
  -webkit-border-radius:0 0 0 0;
  -moz-border-radius:0;
  border-radius:0 0 0 0;
}

.thumbnail-borderless .thumbnail {
  border:none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  padding:0;
}

.control-group.warning .fileupload .uneditable-input {
  color:#a47e3c;
  border-color:#a47e3c;
}

.control-group.warning .fileupload .fileupload-preview {
  color:#a47e3c;
}

.control-group.warning .fileupload .thumbnail {
  border-color:#a47e3c;
}

.control-group.error .fileupload .uneditable-input {
  color:#b94a48;
  border-color:#b94a48;
}

.control-group.error .fileupload .fileupload-preview {
  color:#b94a48;
}

.control-group.error .fileupload .thumbnail {
  border-color:#b94a48;
}

.control-group.success .fileupload .uneditable-input {
  color:#468847;
  border-color:#468847;
}

.control-group.success .fileupload .fileupload-preview {
  color:#468847;
}

.control-group.success .fileupload .thumbnail {
  border-color:#468847;
}

.form-wizard .step .control-group {
  padding:0 20px;
}

.form-wizard .form-actions {
  margin-top:0;
  margin-bottom:0;
}

.form-wizard.wizard-vertical .form-content {
  background:#fff;
  border-left:1px solid #d6d6d6;
  margin-left:220px;
  overflow:hidden;
  padding:10px;
}

.form-wizard.wizard-vertical .wizard-steps {
  float:left;
  width:220px;
  margin-bottom:0;
  min-height:200px;
}

.form-wizard.wizard-vertical .wizard-steps>li {
  float:none;
  width:100%!important;
  zoom:1;
  display:block;
  background:#eee;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}

.form-wizard.wizard-vertical .wizard-steps>li.active {
  background:#fff;
  position:relative;
  border-top:1px solid #d6d6d6;
  border-bottom:1px solid #d6d6d6;
}

.form-wizard.wizard-vertical .wizard-steps>li.active:after {
  position:absolute;
  content:"";
  top:0;
  left:auto;
  bottom:0;
  background:#fff;
  width:1px;
  right:-1px;
  height:100%;
  display:block;
}

.form-wizard.wizard-vertical .wizard-steps>li .single-step {
  zoom:1;
  padding:10px;
}

.form-wizard.wizard-vertical .wizard-steps>li .description {
  float:left;
  margin-left:10px;
  margin-top:2px;
}

.form-wizard.wizard-vertical .form-actions {
  padding-left:240px;
  background:#fff;
  margin-bottom:0;
  margin-top:0;
  border-top:1px solid #d6d6d6;
}

.form-wizard .wizard-steps {
  list-style-type:none;
  zoom:1;
  background:#eee;
  margin:0 0 30px;
  padding:0;
}

.form-wizard .wizard-steps li {
  float:left;
  text-align:center;
}

.form-wizard .wizard-steps li .single-step {
  padding:15px 0;
}

.form-wizard .wizard-steps li .single-step .title {
  text-align:center;
  font-size:16px;
  background:#ddd;
  color:#888;
  padding:4px 10px;
}

.form-wizard .wizard-steps li .single-step .description {
  margin-left:5px;
  color:#aaa;
}

.form-wizard .wizard-steps li.active {
  background:#fff;
  position:relative;
}

.form-wizard .wizard-steps li.active:after {
  position:absolute;
  bottom:-1px;
  right:0;
  left:0;
  content:"";
  background:#fff;
  width:100%;
  height:1px;
  display:block;
}

.form-wizard .wizard-steps.steps-5 li {
  width:20%;
}

#gritter-notice-wrapper {
  right:auto;
  left:50%;
  margin-left:-150.5px;
}

#map1,#map2,#map3,#map4 {
  height:400px;
}

#map1 img,#map2 img,#map3 img,#map4 img {
  max-width:none;
}

.cluster {
  text-align:center;
  font-weight:700;
  color:#fff;
  cursor:pointer;
}

.cluster.cluster-1 {
  background:url(../../../google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m1.png);
  width:53px;
  height:52px;
  line-height:52px;
}

.cluster.cluster-2 {
  background:url(../../../google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m2.png);
  width:56px;
  height:55px;
  line-height:55px;
}

.cluster.cluster-5 {
  background:url(../../../google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m3.png);
  width:66px;
  height:65px;
  line-height:65px;
}

.ms-container .multi-custom-header {
  background:#368ee0;
  color:#fff;
  padding:2px 8px;
}

.plupload .plupload_container .plupload_filelist_footer {
  height:30px;
  background:#fff;
}

.plupload.pl-sidebar .plupload_filelist_footer {
  border-top:0;
  height:auto;
  padding:0;
}

.plupload.pl-sidebar .plupload_filelist_footer .plupload_add {
  border:1px solid #ccc;
  border-top:0;
  text-align:center;
  background:#ddd;
  display:block;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  margin:0;
  padding:4px;
}

.plupload.pl-sidebar .plupload_filelist_footer .plupload_file_name {
  float:none;
}

.plupload.pl-sidebar .plupload_content .plupload_filelist {
  overflow-y:auto;
  border:1px solid #ccc;
}

.plupload.pl-sidebar .plupload_content .plupload_filelist .plupload_delete .plupload_file_name,.plupload.pl-sidebar .plupload_content .plupload_filelist .plupload_failed .plupload_file_name {
  width:100px;
  line-height:18px;
  font-size:11px;
}

.plupload.pl-sidebar .plupload_content .plupload_filelist .plupload_droptext {
  position:relative;
  color:#333;
}

.plupload.pl-sidebar .plupload_content .plupload_filelist .plupload_droptext span {
  z-index:99;
  position:absolute;
  left:0;
  right:0;
  text-align:center;
  font-weight:700;
}

.plupload.pl-sidebar .plupload_content .plupload_filelist .plupload_droptext:after {
  content:"\f0ee";
  font-size:128px;
  color:#e6e6e6;
  position:absolute;
  font-family:FontAwesome;
  top:10px;
  z-index:98;
  left:13px;
}

.ui-resizable-handle.ui-resizable-e {
  cursor:col-resize;
}

.select2-container .select2-choice {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  background-image:none;
  background:#fff;
}

.select2-container .select2-choice div {
  border-left:0;
  background:none;
}

.select2-container.select2-drop-above .select2-choice {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  background-image:none;
}

.select2-container .select2-search-choice-close {
  top:3px;
}

.select2-container .select2-choices {
  background-image:none;
}

.slider {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  height:6px;
  position:relative;
  zoom:1;
  margin:10px 0 20px;
}

.slider .amount {
  position:absolute;
  left:0;
  top:-20px;
}

.slider .amount_min {
  position:absolute;
  left:0;
  bottom:-25px;
}

.slider .amount_max {
  position:absolute;
  right:0;
  bottom:-25px;
}

.slider .ui-slider-handle {
  border:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  background:#368ee0;
  width:14px;
  height:14px;
}

.ui-spinner {
  -webkit-border-radius:0!important;
  -moz-border-radius:0!important;
  border-radius:0!important;
  border-color:#ccc;
}

.ui-spinner .spinner {
  border:0;
  margin-top:0;
}

.ui-spinner .ui-spinner-button {
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity:0.6;
}

.tagsinput[id$="_tagsinput"] {
  padding-bottom:0;
}

.tagsinput[id$="_tagsinput"] .tag {
  background:#368ee0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  color:#fff;
  border:0;
}

.editable-address {
  display:block;
  margin-bottom:5px;
}

.editable-address span {
  width:70px;
  display:inline-block;
}

html,body {
  height:100%;
}

body {
  background:#fff;
  font-family:'Open Sans', sans-serif;
  font-size:13px!important;
}

a:focus {
  outline:none;
  text-decoration:none;
}

.ulreset,#navigation .user .icon-nav,#navigation .main-nav,.letterbox .letter,.blog-widget-recent-posts,.blog-widget-latest-photos,.blog-widget-categories,.blog-widget-tags,.user-list>ul,.statistic-big .stats-overview,.pagestats,.userlist,.quickstats,.tags,.bestseller,.tabs,.stats,.minitiles,.timeline,.timeline>li .timeline-content .activity .timeline-images,.search-results ul,.shop-items,.colors {
  list-style-type:none;
  margin:0;
  padding:0;
}

.nopadding {
  padding:0!important;
}

.box-sortable {
  background:#eee;
  border:1px dotted #333;
}

.colors>li {
  height:40px;
  width:40px;
  float:left;
  margin:0 5px 5px 0;
}

.colors>li>a,.colors>li>span {
  width:40px;
  height:40px;
  display:block;
}

.basic-margin>li,.basic-margin>a {
  margin:0 5px 5px 0;
}

a [class^="glyphicon-"],a [class*=" glyphicon-"],.pagestats>li {
  display:inline-block;
}

.dropdown-menu:before,.accordion-widget .accordion-group .accordion-inner,.table.table-nohead tr:first-child td,.table.table-user tr:first-child td,.datepicker.datepicker-dropdown:before,.datepicker.datepicker-dropdown:after,.elfinder .elfinder-toolbar .elfinder-buttonset,.filetree .dynatree-container {
  border:0;
}

.dropdown-menu.typeahead>li.active>a,.dropdown-menu>li:focus>a,.dropdown-menu>li:hover>a,#navigation .main-nav>li.open.active>.dropdown-menu>.active>a {
  background:#ddd;
  color:#333;
  filter:none;
}

.dropdown-menu.typeahead>li.active:focus>a,.dropdown-menu.typeahead>li.active:hover>a,#navigation .dropdown-menu>li>a:hover {
  background:#368ee0;
  color:#fff;
  filter:none;
}

.dropdown-menu .dropdown-submenu:hover>a,.dropdown-menu .dropdown-submenu>a:active,.dropdown-menu .dropdown-submenu>a:focus {
  background:#eee;
  color:#333;
}

.dropdown-menu .dropdown-submenu.active:hover:after,.dropdown-menu .dropdown-submenu>a:after,#navigation .main-nav>li.open.active>.dropdown-menu>.active>a:after {
  border-left-color:#666;
}

.dropdown-menu .dropdown-submenu .dropdown-menu,.table-bordered,.table-bordered thead:first-child tr:first-child>th:first-child,.table-bordered tbody:first-child tr:first-child>td:first-child,.table-bordered tbody:first-child tr:first-child>th:first-child,.table-bordered thead:first-child tr:first-child>th:last-child,.table-bordered tbody:first-child tr:first-child>td:last-child,.table-bordered tbody:first-child tr:first-child>th:last-child,.table-bordered thead:last-child tr:last-child>th:first-child,.table-bordered tbody:last-child tr:last-child>td:first-child,.table-bordered tbody:last-child tr:last-child>th:first-child,.table-bordered tfoot:last-child tr:last-child>td:first-child,.table-bordered tfoot:last-child tr:last-child>th:first-child,.table-bordered thead:last-child tr:last-child>th:last-child,.table-bordered tbody:last-child tr:last-child>td:last-child,.table-bordered tbody:last-child tr:last-child>th:last-child,.table-bordered tfoot:last-child tr:last-child>td:last-child,.table-bordered tfoot:last-child tr:last-child>th:last-child,.input-prepend .add-on:first-child,.input-prepend .btn:first-child,.input-append .add-on:last-child,.input-append .btn:last-child,.input-append .btn-group:last-child>.dropdown-toggle,.input-prepend.input-append .add-on:last-child,.input-prepend.input-append .btn:last-child,.input-prepend.input-append .add-on:first-child,.input-prepend.input-append .btn:first-child,.btn-group>.btn:first-child,.btn-group>.btn:last-child,.btn-group>.dropdown-toggle,#ascrail2000 div,.slimScrollBar.ui-draggable,.select2-results,.select2-search,.select2-with-searchbox {
  -webkit-border-radius:0!important;
  -moz-border-radius:0!important;
  border-radius:0!important;
}

.dropdown-menu .dropdown-submenu .dropdown-menu .active>a,#navigation .user .icon-nav>li .message-ul>li>a.more-messages:hover,.tabs.tabs-inline.tabs-top>li>a:hover,.tabs.tabs-inline.tabs-left>li>a:hover {
  background:#ddd;
  color:#333;
}

.modal form,.box.box-bordered .table,.box.box-bordered .form-bordered,.form-messages,.form-striped .control-group,.form-horizontal .help-block .progress,[class*="span"] .form-actions,#updateInterval,.dataTables_wrapper .dataTables_filter input,.fileupload,.form-wizard,.form-wizard.wizard-vertical,.form-wizard.wizard-vertical .form-content .control-group:last-child {
  margin-bottom:0;
}

.input-append input,.input-append select,.input-append .uneditable-input,.uneditable-input,.modal,.tooltip .tooltip-inner,.accordion .accordion-group,.pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span,.pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span,.pagination ul>li:first-child>a,.pagination ul>li:first-child>span,.pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span,.pagination ul>li:last-child>a,.pagination ul>li:last-child>span,.pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span,.datepicker.datepicker-dropdown,.datepicker.datepicker-dropdown .datepicker-days td,.datepicker.datepicker-dropdown .datepicker-days th,.datepicker.datepicker-dropdown .datepicker-days span,.datepicker.datepicker-dropdown .datepicker-years td,.datepicker.datepicker-dropdown .datepicker-years th,.datepicker.datepicker-dropdown .datepicker-years span,.datepicker.datepicker-dropdown .datepicker-months td,.datepicker.datepicker-dropdown .datepicker-months th,.datepicker.datepicker-dropdown .datepicker-months span,.daterangepicker th,.daterangepicker td,.daterangepicker td:hover,.daterangepicker td.active,.daterangepicker .calendar,.elfinder .elfinder-cwd-filename,.elfinder .elfinder-cwd-file,.elfinder .elfinder-cwd-file-wrapper,.bootstrap-timepicker-widget.dropdown-menu,.colorpicker.dropdown-menu,.editable-input .datepicker table tr td {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}

.btn-group.text,.btn-group .dropdown,.btn-group .pagination,label,input,button,select,textarea,.pagestats.style-4 .name {
  font-size:13px;
}

.btn-group .pagination,.tiles.nomargin,.alert.alert-nomargin {
  margin:0;
}

.btn-group .pagination ul,.modal .modal-footer,.btn-group.open .dropdown-toggle,.btn:active,.search-form>.search-pane>input:focus {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

.table-bordered,.table-bordered.dataTable.dataTable-noheader,.pricing-tables .pricing>li:first-child,.userlist>li:first-child,.tabs.tabs-inline.tabs-left>li:first-child>a,.search-results ul li:first-child,.form-wizard.wizard-vertical .wizard-steps>li:first-child,.form-wizard.wizard-vertical .wizard-steps>li.active:first-child {
  border-top:0;
}

.table-bordered.table-force-topborder,.table-bordered.dataTable {
  border-top:1px solid #ddd;
}

input,textarea,.ms-container .ms-list {
  -webkit-border-radius:0!important;
  -moz-border-radius:0!important;
  border-radius:0!important;
  -webkit-box-shadow:none!important;
  -moz-box-shadow:none!important;
  box-shadow:none!important;
}

.btn-group.open .dropdown-toggle.btn-primary,.btn-group.open .dropdown-toggle.btn-info,.nav.nav-pills>li.active>a,.nav.nav-list>li.active>a,.theme-colors li span.blue,.box.box-color .box-title,body.error,.locked,.login,.pagination.pagination-custom li.active a:hover,.shop-items>li:hover,.chzn-container .chzn-drop .chzn-results>li.highlighted,.editable-input .datepicker table tr td.active {
  background:#368ee0;
}

.btn-group.open .dropdown-toggle.btn-danger,.btn.btn-danger:hover,.theme-colors li span.red {
  background:#e51400;
}

.btn-group.open .dropdown-toggle.btn-inverse,.theme-colors li span.grey {
  background:#333;
}

.btn-group.open .dropdown-toggle.btn-success,.btn.btn-success:hover,.theme-colors li span.green {
  background:#393;
}

.btn-group.open .dropdown-toggle.btn-warning,.theme-colors li span.orange {
  background:#f8a31f;
}

.dropdown-menu.dropdown-primary,.box.box-bordered.box-color .box-title,.box.box-bordered.box-color .box-content {
  border-color:#368ee0;
}

.dropdown-menu.dropdown-primary>li>a:hover,#navigation .dropdown-menu>li.dropdown-submenu:hover>a,#navigation .dropdown-menu>li.dropdown-submenu:focus>a,.box .box-title .tabs>li.active>a,.box .box-title .actions .btn:hover,.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day>a,.table.table-colored-header thead th,.table.table-colored-header thead td,.table-pagination>span>a.active,.tiles>li.image>a .name,.pagination.pagination-custom li.active a,.calendar .fc-button.fc-state-active,.calendar .fc-button.fc-state-active:hover,.dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.form-wizard .wizard-steps li.active .single-step .title {
  background:#368ee0;
  color:#fff;
}

.btn.btn-text-left,button.ColVis_Button {
  text-align:left;
}

.btn i,.pagestats.style-3 .bottom .name,.tags>li>a.big-1,.bestseller>li>a .details .name {
  font-size:14px;
}

.accordion .accordion-group .accordion-heading .accordion-toggle,.form-striped .control-group:nth-child(odd),.pricing-tables .pricing.highlighted>li,.timeline>li:hover {
  background:#f6f6f6;
}

.alert,.elfinder {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  border:0;
}

#content.nav-fixed,#content.container-fluid.nav-fixed,.tiles .has-chart-2>a span .spark-me {
  padding-top:40px;
}

#content.container-fluid,.ui-datepicker .ui-datepicker-calendar td,.tiles>li>a span.nopadding,.plupload .plupload_container {
  padding:0;
}

#main:after,#main .page-header:after,#main .breadcrumbs:after,#main .breadcrumbs ul:after,#left .subnav .subnav-content:after,#left .subnav .subnav-title:after,.theme-colors:after,.theme-colors li:after,.letterbox .letter:after,.blog-widget-recent-posts>li>a:after,.blog-widget-latest-photos:after,.blog-widget-tags:after,.blog-list-post.small:after,.blog-list-post .post-content .post-meta:after,.blog-list-post .post-comments .new-comment:after,.highlight-toolbar:after,.box .box-title:after,.box .box-title .tabs:after,.box .box-content:after,.form-horizontal.form-column:after,.form-horizontal.form-bordered .control-group .controls:after,.form-button:after,.gallery:after,.user-list>ul>li:after,.statistic-big .top:after,.pricing-tables:after,.userlist>li:after,.bestseller>li>a:after,.tabs.tabs-inline:after,.tasklist li:after,.stats>li:after,.stats>li .details:after,.timeline>li .timeline-content .activity .timeline-images:after,.login .wrapper .login-body .submit:after,.search-results ul:after,.search-results ul li:after,.shop-items>li .extended:after,.product-details div.colors:after,.form-wizard.wizard-vertical .wizard-steps>li:after,.form-wizard.wizard-vertical .wizard-steps>li .single-step:after,.form-wizard .wizard-steps:after,.slider:after {
  content:"";
  display:table;
  clear:both;
}

#main .breadcrumbs .close-bread,#navigation .user,.messages>li.right .image,.login .wrapper .login-body .submit input {
  float:right;
}

#main .breadcrumbs .close-bread>a:hover,#navigation #brand:hover,.tasklist li .task-actions>a,.shop-items>li>a {
  text-decoration:none;
}

#main #vmap,.flot {
  width:100%;
  height:300px;
}

#footer .gototop:hover,.grids .row-fluid [class*="span"]:hover {
  background:#aaa;
}

#left .subnav,.user-list>ul>li.invite,.more-images {
  margin-top:15px;
}

#left .subnav:hover .subnav-title .toggle-subnav i,#navigation .mobile-nav.open>li>ul.open,.gallery>li>a,.gallery>li:hover .extras,.messages>li.typing.active,.statistic-big .stats-overview>li .name {
  display:block;
}

#left .subnav .subnav-menu>li.dropdown>a,.theme-settings>li .version-toggle>a.active,.theme-settings>li .topbar-toggle>a.active,.theme-settings>li .sidebar-toggle>a.active,.timeline>li .timeline-content .left,.shop-items>li {
  position:relative;
}

#left .subnav .subnav-menu>li.dropdown.open>a,#left .subnav .subnav-menu>li.dropdown.open .dropdown-menu .dropdown-submenu:hover>a,#left .subnav .subnav-menu>li.dropdown.open .dropdown-menu .dropdown-submenu:focus>a {
  background:#ccc;
  color:#333;
}

.language-select .dropdown-menu a span,.form-vertical .control-label small {
  margin-left:20px;
}

.theme-settings>li:first-child,.pagestats.style-2,.locked .right form div {
  margin-top:5px;
}

.theme-settings>li .version-toggle>a:hover,.theme-settings>li .topbar-toggle>a:hover,.theme-settings>li .sidebar-toggle>a:hover,.table-pagination>a:hover,.login .wrapper .login-body .login-options a:hover,.pagination.pagination-custom li a:hover,.calendar .fc-button:hover,.dataTables_wrapper .ColVis .ColVis_Button:hover,.dataTables_wrapper .DTTT_container .DTTT_button:hover,.dataTables_wrapper .dataTables_paginate>a:hover {
  background:#ddd;
}

.theme-colors li,.letterbox .letter,.blog-widget-latest-photos,.blog-widget-tags,.blog-list-post.small,.blog-list-post .post-content .post-meta,.blog-list-post .post-comments .new-comment,.form-horizontal.form-column,.statistic-big .top,.pricing-tables,.tabs.tabs-inline,.timeline>li .timeline-content .activity .timeline-images,.search-results ul,.product-details div.colors {
  zoom:1;
}

.theme-colors li span.grey-3,.elfinder .elfinder-navbar,.elfinder .elfinder-cwd-file:hover,.form-wizard.wizard-vertical .step {
  background:#eee;
}

#navigation .toggle-mobile i,.box.box-condensed .box-title h3,.tags>li>a.big-3 {
  font-size:18px;
}

#navigation .mobile-nav,#navigation .mobile-nav>li>ul,.messages>li.typing,.ui-datepicker .ui-datepicker-prev .ui-icon,.ui-datepicker .ui-datepicker-next .ui-icon,.table.table-nohead thead,.table.table-nohead thead th,.table.table-nohead thead td,.tasklist li.done .task-actions,.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists,.plupload .plupload_container .plupload_filelist_header,.plupload.pl-sidebar .plupload_filelist_footer .plupload_total_status,.plupload.pl-sidebar .plupload_filelist_footer .plupload_file_status,.plupload.pl-sidebar .plupload_filelist_footer .plupload_file_action,.plupload.pl-sidebar .plupload_filelist_footer .plupload_progress,.plupload.pl-sidebar .plupload_filelist_footer .plupload_file_size,.plupload.pl-sidebar .plupload_content .plupload_filelist .plupload_delete .plupload_file_status,.plupload.pl-sidebar .plupload_content .plupload_filelist .plupload_failed .plupload_file_status,.plupload.pl-sidebar .plupload_content .plupload_filelist .plupload_delete .plupload_file_size,.plupload.pl-sidebar .plupload_content .plupload_filelist .plupload_failed .plupload_file_size,.visible-480 {
  display:none;
}

#navigation .mobile-nav.open>li:first-child,.user-list>ul>li:first-child,.pricing-tables .pricing.highlighted,.bestseller>li:first-child {
  margin-top:0;
}

#navigation .mobile-nav.open>li.active>ul,.locked .pull-left a:hover {
  background:#144d82;
}

#navigation .mobile-nav.open>li>ul>li ul,.the-icons {
  list-style-type:none;
}

#navigation .user .icon-nav>li .message-ul.feed>li>a .message,#navigation .user .icon-nav>li .message-ul>li>a:hover .count span,.blog-list-post .post-content .post-title>a,.calendar .fc-button.fc-button-next:hover .fc-button-content i,.calendar .fc-button.fc-button-prev:hover .fc-button-content i,.form-wizard .wizard-steps li.active .single-step .description {
  color:#333;
}

#navigation .user .icon-nav>li .message-ul>li>a:hover .details .message,.blog-widget-recent-posts>li>a:hover .details,.messages>li .message p {
  color:#444;
}

#navigation .user .dropdown,#navigation .main-nav,.blog-widget-recent-posts>li>a .details .date,.blog-widget-recent-posts>li>a .details .tags,.box .box-title .tabs.tabs-left,.form-button a,.statistic-big .top .left,.userlist>li>a,.stats,.minitiles,.login .wrapper .login-body .submit .remember [class*=icheckbox],.login .wrapper .login-body .submit .remember label,.dataTables_wrapper .dataTables_length .input-mini,.form-wizard.wizard-vertical .wizard-steps>li .title {
  float:left;
}

#navigation .user .dropdown.open,#navigation .user .dropdown>a:hover,.blog-widget-tags>li>a:hover,body.error .wrapper .input-append .btn:hover,.editable-input .datepicker table tr td.active:hover {
  background:#1b67af;
}

#navigation .user .dropdown>a img,.login .wrapper .login-body .submit .remember label,.calendar .fc-button.fc-button-next,.calendar .fc-button.fc-button-prev {
  margin-left:10px;
}

#navigation .main-nav>li.active>a:hover,#navigation .main-nav>li.open.active>a,.pricing-tables .pricing.highlighted>li:nth-child(odd),.pricing-tables .pricing>li.button,.tabs.tabs-inline.tabs-top>li.active>a:hover,.tabs.tabs-inline.tabs-left>li.active>a:hover,.search-results ul li:nth-child(even),.plupload .plupload_container .plupload_filelist,.plupload .plupload_container .plupload_filelist>li {
  background:#fff;
}

#navigation .user>a,.box.box-color .box-title h3,.box.box-color .box-title .tabs>li>a,.box.box-color .box-title .actions>a,.shop-items>li:hover>a .details,.shop-items>li:hover>a .details .name,.tagsinput[id$="_tagsinput"] .tag a {
  color:#fff;
}

.blog-widget,.statistic-big .bottom,.locked .right form,.product-details .price,.product-details div.colors,.product-details .sizes,.product-details .actions,.row-fluid.margin-top {
  margin-top:30px;
}

.blog-widget-recent-posts>li,.box.box-small .box-title .actions {
  margin-top:3px;
}

.blog-widget-recent-posts>li>a .details i,.table tr td .label {
  margin-right:3px;
}

.blog-widget-latest-photos>li,.blog-widget-tags>li {
  float:left;
  margin:0 5px 5px 0;
}

.blog-list-post .post-content .post-meta .date a,.blog-list-post .post-content .post-meta .comments a,.blog-list-post .post-content .post-meta .tags a,.blog-list-post .post-content .post-meta .author a,.timeline>li .timeline-content .activity .user span {
  color:#777;
}

.highlight-toolbar .dropdown .btn .caret,.dataTables_wrapper .ColVis .ColVis_Button i {
  margin-left:5px;
}

.sortable-box .box-title:hover,.box .box-title .actions .content-move,.table.dataTable.dataTable-reorder th:hover {
  cursor:move;
}

.box.box-condensed .box-title .actions .btn,.box .box-title .tabs>li>a {
  padding:4px 8px;
}

.box.box-condensed .box-content,.shop-items>li>a .details,.form-wizard.wizard-vertical .form-content .control-group {
  padding:10px;
}

.box.box-small .box-title h3,.tags>li>a.big-2,.stats>li .details span.big,.search-results ul li .search-info a {
  font-size:16px;
}

.box.box-color .box-title .tabs>li.active>a,.box.box-color .box-title .actions>a:hover {
  background:#fff;
  color:#368ee0;
}

.box.box-color .box-title .tabs>li>a:hover,a {
  color:#368ee0;
}

.box.box-bordered .table.dataTable-fixedcolumn.DTFC_Cloned td,.statistic-big .stats-overview,.pagestats,.ui-datepicker .ui-datepicker-calendar th,.ui-datepicker .ui-datepicker-calendar td,.tiles.tiles-center>li>a .name {
  text-align:center;
}

.box.box-bordered .table.table-bordered,.box.box-bordered .table.table-bordered th:last-child,.box.box-bordered .table.table-bordered td:last-child,.statistic-big .stats-overview>li:last-child,.form-wizard .wizard-steps li:last-child .single-step {
  border-right:0;
}

.box.box-bordered .table.table-bordered th:first-child,.box.box-bordered .table.table-bordered td:first-child,.form-horizontal.form-column [class*="span"]:first-child {
  border-left:0;
}

.box .box-title .tabs>li,.timeline>li .timeline-content .activity .timeline-images>li {
  float:left;
  margin-right:5px;
}

.box .box-title .tabs>li:last-child,.stats>li:last-child {
  margin-right:0;
}

.form-horizontal.form-column .span6,.form-wizard .wizard-steps.steps-2 li {
  width:50%;
}

.form-horizontal.form-column .span4,.form-wizard .wizard-steps.steps-3 li {
  width:33.333%;
}

.form-horizontal.form-column .span3,.form-wizard .wizard-steps.steps-4 li {
  width:25%;
}

.form-horizontal .control-group .control-label.right,.table-invoice .taxes p,.product-details .actions {
  text-align:right;
}

.form-horizontal.form-bordered .control-group:last-child,.tasklist li:last-child,.timeline>li:last-child {
  border-bottom:0;
}

.form-button span i,.tasklist li .task i,.plupload .plupload_container .plupload_filelist_footer .pl_add {
  margin-right:5px;
}

.messages>li,.bestseller>li {
  margin-top:20px;
}

.messages>li .message .name,.dataTables_wrapper .dataTables_info span {
  font-weight:600;
}

.messages>li.right .message p,.messages>li.right .message .time {
  color:#11406c;
}

.statistic-big .top .right .icon-circle-arrow-right,.table-mail .table-icon .sel-star:hover,.table-mail .table-icon .sel-star.active {
  color:#f8a31f;
}

.statistic-big .top .right .icon-circle-arrow-down,.tasklist li.bookmarked .task-actions .task-bookmark {
  color:#e63a3a;
}

.pagestats.style-3 .spark,.pagestats.style-4 .spark {
  float:none;
  margin:0;
}

.pagestats.style-2 .left,.tags>li>a.big-4 {
  font-size:20px;
}

.pagestats .spark,.locked .right {
  float:left;
  margin-left:15px;
}

.ui-datepicker .ui-datepicker-prev.ui-state-hover,.ui-datepicker .ui-datepicker-next.ui-state-hover,.table-invoice .taxes p .totalprice {
  font-weight:700;
}

.ui-datepicker .ui-datepicker-prev:hover,.ui-datepicker .ui-datepicker-next:hover {
  background:#ddd!important;
}

.ui-datepicker .ui-datepicker-prev:hover:before,.ui-datepicker .ui-datepicker-next:hover:before {
  color:#000;
}

.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-other-month>a,.table-pagination>a.disabled,.disabled,.dataTables_wrapper .dataTables_paginate>a.paginate_button_disabled {
  color:#999;
}

.table.dataTable.dataTable-grouping .group.expanded-group:hover,.table.dataTable.dataTable-grouping .group.collapsed-group:hover,.table-mail tbody tr>td {
  cursor:pointer;
}

.table.dataTable.dataTable-scroll-x td,div.DTS tbody th,div.DTS tbody td {
  white-space:nowrap;
}

.table tr td,.fileupload .btn {
  vertical-align:middle;
}

.table.table-user tr td.img,.table.table-user tr td.img img {
  width:40px;
}

.table-mail .table-date,.table-invoice .price {
  width:100px;
}

.table-mail .table-fixed-medium,.locked .pull-left {
  width:200px;
}

.table-pagination,.dataTables_wrapper .dataTables_paginate {
  float:right;
  margin-right:5px;
  margin-top:10px;
  margin-bottom:10px;
}

.table-pagination>a,.dataTables_wrapper .dataTables_paginate>a {
  margin-right:5px;
  background:#eee;
  color:#333;
  text-decoration:none;
  cursor:pointer;
  padding:3px 8px;
}

.table-pagination>a.disabled:hover,.dataTables_wrapper .dataTables_paginate>a.paginate_button_disabled:hover {
  background:#eee;
  cursor:default;
}

.table-pagination>span>a,.dataTables_wrapper .dataTables_paginate>span>a {
  margin-right:5px;
  background:#eee;
  color:#333;
  text-decoration:none;
  cursor:pointer;
  padding:3px 8px;
}

.tasklist li.bookmarked .task-actions .task-bookmark i:before,.tasklist li .task-actions .task-bookmark:hover i:before {
  content:"\f02e";
}

.timeline>li .timeline-content .activity,.invoice-info .invoice-to {
  margin-left:50px;
}

body.error .wrapper .code span,.product-details .actions .non {
  margin-right:15px;
}

.invoice-info .invoice-from span,.invoice-info .invoice-to span,.invoice-payment span {
  color:#888;
  display:block;
}

.locked .right form input[type=password],.editable-input .datepicker-inline {
  width:260px;
}

.chzn-container.chzn-container-single .chzn-search input,.elfinder .elfinder-toolbar .elfinder-button:hover.elfinder-button-search {
  background:none;
}

.cke .cke_contents,.fileupload-new.thumbnail-borderless .thumbnail {
  border:1px solid #ddd;
}

.ColVis_text_hover,div.ColVis_collection button.ColVis_Button:hover {
  border:1px solid #999;
  background-color:#f0f0f0;
}

div.DTS tbody tr.even,div.DTS div.dataTables_scrollHead {
  background-color:#FFF;
}

.daterangepicker:before,.daterangepicker:after,.bootstrap-timepicker-widget.dropdown-menu:before,.bootstrap-timepicker-widget.dropdown-menu:after,.colorpicker.dropdown-menu:before,.colorpicker.dropdown-menu:after {
  border:0!important;
}

.plupload.pl-sidebar .plupload_filelist_footer .plupload_add:hover,.editable-input .datepicker table tr td:hover {
  background:#bbb;
}

.colors.small>li,.colors.small>li>a,.colors.small>li>span {
  height:20px;
  width:20px;
}

@media max-width 1250px{
  #main .page-header .minitiles {
    display:none;
  }
}

@media max-width 1200px{
  .stats-overview>li {
    padding:5px 10px!important;
  }

  .form-horizontal.form-column [class*="span"] {
    border-top:1px solid #ddd;
    border-left:0!important;
    width:100%!important;
  }

  .form-horizontal.form-column [class*="span"]:first-child {
    border-top:0;
  }

  .form-horizontal.form-column .form-actions {
    border-top:0!important;
  }

  .icon-nav {
    display:none!important;
  }
}

@media max-width 1100px{
  .stats-overview>li {
    border-right:1px dotted #ddd!important;
    padding:5px 10px!important;
  }

  .stats-overview>li .name {
    font-size:11px!important;
  }

  .stats-overview>li .value {
    font-size:13px!important;
  }
}

@media max-width 1024px{
  #main .page-header .stats {
    display:none;
  }

  .search-form>.search-pane>input {
    width:135px!important;
  }

  .hidden-1024 {
    display:none!important;
  }

  .form-wizard .single-step .title {
    padding:1px 5px!important;
  }

  .form-wizard .single-step .description {
    font-size:12px!important;
    margin-left:0!important;
  }
}

@media max-width 976px{
  #navigation .user .dropdown>a {
    padding:7px 6px 6px!important;
  }

  #navigation .main-nav>li>a {
    font-size:12px;
    padding:10px 8px!important;
  }
}

@media max-width 840px{
  .mobile-sidebar-toggle {
    display:block!important;
  }

  #navigation #brand {
    padding-right:0!important;
  }

  #navigation .main-nav {
    display:none;
  }

  #navigation .toggle-nav {
    display:none!important;
  }
}

@media max-width 767px{
  body {
    padding:0!important;
  }

  .pricing-tables .pricing.highlighted {
    margin-top:30px!important;
  }

  .hidden-768 {
    display:none!important;
  }

  .navbar-fixed-top,.navbar-fixed-bottom,.navbar-static-top {
    margin:0!important;
  }

  .container-fluid,.container {
    padding:0 20px;
  }

  .form-wizard.wizard-vertical .wizard-steps {
    width:160px!important;
  }

  .form-wizard.wizard-vertical .form-content {
    margin-left:160px!important;
  }

  .form-wizard.wizard-vertical .form-actions {
    padding-left:180px!important;
  }
}

@media max-width 480px{
  .table-mail .table-fixed-medium {
    width:120px!important;
  }

  .form-wizard.wizard-vertical .wizard-steps {
    width:40px!important;
  }

  .form-wizard.wizard-vertical .form-content {
    margin-left:40px!important;
  }

  .form-wizard.wizard-vertical .form-actions {
    padding-left:60px!important;
  }

  .tabs.tabs-inline.tabs-top>li>a {
    padding:8px 10px!important;
  }

  .tabs.tabs-inline.tabs-left {
    position:static!important;
    background:none!important;
    width:auto!important;
  }

  .tabs.tabs-inline.tabs-left>li {
    float:left;
    margin-right:1px;
  }

  .tabs.tabs-inline.tabs-left>li>a {
    border-top:0!important;
    border-bottom:0!important;
    padding:8px 10px!important;
  }

  .tab-content.tab-content-inline {
    margin-left:0!important;
    border-left:0!important;
  }

  .visible-480 {
    display:inline-block!important;
  }

  .form-horizontal .controls {
    margin-left:0!important;
  }

  .calendar .fc-button.fc-button-next .fc-button-content,.calendar .fc-button.fc-button-prev .fc-button-content {
    margin-top:3px;
    padding:0 4px!important;
  }

  .calendar .fc-button .fc-button-content {
    font-size:12px!important;
    margin-right:2px!important;
  }

  .calendar .fc-header .fc-header-left {
    width:0!important;
    display:none;
  }

  .calendar .fc-header .fc-header-right .fc-button {
    position:static!important;
    top:auto!important;
  }

  .calendar .fc-header .fc-header-title h2 {
    font-size:14px!important;
  }

  body.login .wrapper {
    width:300px;
    top:0;
    margin:20px -150px!important;
  }

  .messages.withlist {
    margin-right:0!important;
  }

  .form-wizard.wizard-vertical .wizard-steps .description,.hidden-480,.user-list {
    display:none!important;
  }
}

@media max-width 350px{
  #main .box .box-title h3 {
    font-size:16px!important;
  }

  #main .box .box-title .actions .btn i {
    font-size:12px!important;
  }

  .table .table-fixed-medium {
    width:100px!important;
  }

  .hidden-350,.calendar .fc-header-right {
    display:none!important;
  }
}

@media only screen and -webkit-min-device-pixel-ratio 2{
  #navigation #brand {
    background:url(../img/logo@2x.png) no-repeat;
    background-size:22px 22px;
  }
}

@media print{
  #navigation,#left,.breadcrumbs,.page-header,.invoice-payment,.box-title {
    display:none!important;
  }

  #main {
    margin-left:0;
  }
}
