.accordion-widget .accordion-group.darkblue {
  border:2px solid #204e81;
}

.accordion-widget .accordion-group.darkblue:hover {
  border-color:#163558!important;
}

.accordion-widget .accordion-group.darkblue .accordion-toggle {
  background:#204e81!important;
  color:#fff;
}

.accordion-widget .accordion-group.darkblue .accordion-toggle:hover {
  background:#163558!important;
}

.pricing-tables .pricing.darkblue>li.head .info {
  background:#255a95;
}

.btn.btn-darkblue {
  background:#204e81;
  color:#fff!important;
}

.box.box-bordered.box-color.darkblue .slimScrollDiv {
  border-bottom:2px solid #204e81;
}

.theme-darkblue #navigation .dropdown-menu>li.dropdown-submenu .dropdown-menu {
  border-top:2px solid #204e81;
}

.theme-darkblue .btn.btn-primary {
  background:#204e81;
  color:#fff;
}

.theme-darkblue .messages>li.right .message {
  background:#8bb4e2;
}

.theme-darkblue .messages>li.right .message .caret {
  border-left:7px solid #8bb4e2;
}

.theme-darkblue #main .box.box-color .box-title .tabs>li.active>a {
  background:#fff;
  color:#204e81;
}

.theme-blue .mobile-sidebar-toggle,.theme-blue .btn.btn-inverse,.theme-blue .btn.btn-success,.theme-blue .btn.btn-danger,.theme-orange .mobile-sidebar-toggle,.theme-orange .btn.btn-inverse,.theme-orange .btn.btn-success,.theme-orange .btn.btn-danger,.theme-red .mobile-sidebar-toggle,.theme-red .btn.btn-inverse,.theme-red .btn.btn-success,.theme-red .btn.btn-danger,.theme-green .mobile-sidebar-toggle,.theme-green .btn.btn-inverse,.theme-green .btn.btn-success,.theme-green .btn.btn-danger,.theme-lime .mobile-sidebar-toggle,.theme-lime .btn.btn-inverse,.theme-lime .btn.btn-success,.theme-lime .btn.btn-danger,.theme-teal .mobile-sidebar-toggle,.theme-teal .btn.btn-inverse,.theme-teal .btn.btn-success,.theme-teal .btn.btn-danger,.theme-purple .mobile-sidebar-toggle,.theme-purple .btn.btn-inverse,.theme-purple .btn.btn-success,.theme-purple .btn.btn-danger,.theme-brown .mobile-sidebar-toggle,.theme-brown .btn.btn-inverse,.theme-brown .btn.btn-success,.theme-brown .btn.btn-danger,.theme-pink .mobile-sidebar-toggle,.theme-pink .btn.btn-inverse,.theme-pink .btn.btn-success,.theme-pink .btn.btn-danger,.theme-magenta .mobile-sidebar-toggle,.theme-magenta .btn.btn-inverse,.theme-magenta .btn.btn-success,.theme-magenta .btn.btn-danger,.theme-grey .mobile-sidebar-toggle,.theme-grey .btn.btn-inverse,.theme-grey .btn.btn-success,.theme-grey .btn.btn-danger,.theme-darkblue .mobile-sidebar-toggle,.theme-darkblue .btn.btn-inverse,.theme-darkblue .btn.btn-success,.theme-darkblue .btn.btn-danger,.theme-lightred .mobile-sidebar-toggle,.theme-lightred .btn.btn-inverse,.theme-lightred .btn.btn-success,.theme-lightred .btn.btn-danger,.theme-lightgrey .mobile-sidebar-toggle,.theme-lightgrey .btn.btn-inverse,.theme-lightgrey .btn.btn-success,.theme-lightgrey .btn.btn-danger,.theme-satblue .mobile-sidebar-toggle,.theme-satblue .btn.btn-inverse,.theme-satblue .btn.btn-success,.theme-satblue .btn.btn-danger,.theme-satgreen .mobile-sidebar-toggle,.theme-satgreen .btn.btn-inverse,.theme-satgreen .btn.btn-success,.theme-satgreen .btn.btn-danger,.theme-grey-3 .mobile-sidebar-toggle,.theme-grey-3 .btn.btn-inverse,.theme-grey-3 .btn.btn-success,.theme-grey-3 .btn.btn-danger,.theme-grey-4 .mobile-sidebar-toggle,.theme-grey-4 .btn.btn-inverse,.theme-grey-4 .btn.btn-success,.theme-grey-4 .btn.btn-danger {
  color:#fff;
}

.theme-blue .btn,.theme-orange .btn,.theme-red .btn,.theme-green .btn,.theme-lime .btn,.theme-teal .btn,.theme-purple .btn,.theme-brown .btn,.box.box-color.pink .box-title h3,.theme-pink .btn,.theme-magenta .btn,.font-grey,.box.box-color.grey .box-title .actions>a:hover,.theme-grey a,.theme-grey .btn,.theme-grey #main .box.box-color .box-title .tabs>li>a:hover,.theme-darkblue .btn,.theme-lightred .btn,.theme-lightgrey .btn,.theme-satblue .btn,.theme-satgreen .btn,.box.box-color.grey-3 .box-title h3,.theme-grey-3 .btn,.theme-grey-4 .btn,.theme-grey-4 .messages>li.right .name {
  color:#333;
}

.theme-blue #navigation .main-nav>li.active>a:hover,.theme-blue #navigation .main-nav>li.active.open>a,.theme-orange #navigation .main-nav>li.active>a:hover,.theme-orange #navigation .main-nav>li.active.open>a,.theme-red #navigation .main-nav>li.active>a:hover,.theme-red #navigation .main-nav>li.active.open>a,.theme-green #navigation .main-nav>li.active>a:hover,.theme-green #navigation .main-nav>li.active.open>a,.theme-lime #navigation .main-nav>li.active>a:hover,.theme-lime #navigation .main-nav>li.active.open>a,.theme-teal #navigation .main-nav>li.active>a:hover,.theme-teal #navigation .main-nav>li.active.open>a,.theme-purple #navigation .main-nav>li.active>a:hover,.theme-purple #navigation .main-nav>li.active.open>a,.theme-brown #navigation .main-nav>li.active>a:hover,.theme-brown #navigation .main-nav>li.active.open>a,.theme-pink #navigation .main-nav>li.active>a:hover,.theme-pink #navigation .main-nav>li.active.open>a,.theme-pink .messages>li.right .message,.theme-magenta #navigation .main-nav>li.active>a:hover,.theme-magenta #navigation .main-nav>li.active.open>a,.theme-grey #navigation .main-nav>li.active>a:hover,.theme-grey #navigation .main-nav>li.active.open>a,.theme-darkblue #navigation .main-nav>li.active>a:hover,.theme-darkblue #navigation .main-nav>li.active.open>a,.theme-lightred #navigation .main-nav>li.active>a:hover,.theme-lightred #navigation .main-nav>li.active.open>a,.theme-lightgrey #navigation .main-nav>li.active>a:hover,.theme-lightgrey #navigation .main-nav>li.active.open>a,.theme-satblue #navigation .main-nav>li.active>a:hover,.theme-satblue #navigation .main-nav>li.active.open>a,.theme-satgreen #navigation .main-nav>li.active>a:hover,.theme-satgreen #navigation .main-nav>li.active.open>a,.theme-grey-3 #navigation .main-nav>li.active>a:hover,.theme-grey-3 #navigation .main-nav>li.active.open>a,.theme-grey-3 .messages>li.right .message,.theme-grey-4 #navigation .main-nav>li.active>a:hover,.theme-grey-4 #navigation .main-nav>li.active.open>a,.theme-grey-4 .messages>li.right .message {
  background:#fff;
}

.theme-green .messages>li.right .name,.theme-teal .messages>li.right .name,.theme-brown .messages>li.right .name,.theme-grey .messages>li.right .name,.theme-grey .messages>li.right .message p,.theme-grey .messages>li.right .message .time,.theme-darkblue .messages>li.right .name,.theme-lightgrey .messages>li.right .name,.theme-satblue .messages>li.right .name {
  color:#000;
}

.theme-green .messages>li.right .message p,.theme-green .messages>li.right .message .time {
  color:#0d260d;
}

.font-lime,.box.box-color.lime .box-title .actions>a:hover,.theme-lime a,.theme-lime #main .box.box-color .box-title .tabs>li>a:hover {
  color:#8cbf26;
}

ul>li.lime,.label-lime,.progress .bar.bar-lime,.pricing-tables .pricing.lime>li.head,.box.box-color.lime .form-wizard .wizard-steps li.active .single-step .title,.box.box-color.lime .btn.btn-primary,.timeline>li .timeline-content .left .icon.lime,.theme-lime .daterangepicker .active,.theme-lime #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-lime #navigation .dropdown-menu>li.dropdown-submenu:focus>a,.theme-lime #navigation .dropdown-menu>li>a:hover,.theme-lime .datepicker.datepicker-dropdown .datepicker-days .active,.theme-lime .datepicker.datepicker-dropdown .datepicker-years .active,.theme-lime .datepicker.datepicker-dropdown .datepicker-months .active,.theme-lime .form-wizard .wizard-steps li.active .single-step .title,.theme-lime.login,.theme-lime #navigation,.theme-lime #navigation .mobile-nav.open,.theme-lime .search-form .search-pane button[type="submit"],.theme-lime .messages>li.insert .submit button,.theme-lime .letterbox .letter>li.active,.theme-lime .calendar .fc-content .fc-event .fc-event-inner,.theme-lime .calendar .fc-button.fc-state-active,.theme-lime .calendar .fc-button.fc-state-active:hover,.theme-lime .table.table-user tr.alpha td.alpha-val span,.theme-lime .tagsinput#textfield_tagsinput .tag,.theme-lime .ms-container .multi-custom-header,.theme-lime .slider .ui-slider-handle,.theme-lime .form-wizard .wizard-steps li.active .single-step .title,.theme-lime .user-list h4,.theme-lime .nav.nav-pills>li.active>a,.theme-lime .nav.nav-list>li.active>a,.theme-lime .table.table-colored-header thead th,.theme-lime .table.table-colored-header thead td,.theme-lime .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-lime .elfinder-navbar .ui-state-active,.theme-lime .pagination.pagination-custom li.active a:hover,.theme-lime .pagination.pagination-custom li.active a,.theme-lime #main .box .box-title .tabs>li.active>a,.theme-lime #main .box.box-color .box-title {
  background:#8cbf26;
}

.pricing-tables .pricing.lime>li.head .name,.btn.btn-lime:hover,.theme-lime .datepicker.datepicker-dropdown .datepicker-days .active:hover,.theme-lime .datepicker.datepicker-dropdown .datepicker-years .active:hover,.theme-lime .datepicker.datepicker-dropdown .datepicker-months .active:hover {
  background:#6d941e;
}

.box.box-color.lime .box-title,.theme-lime.locked {
  background:#8cbf26!important;
}

.box.box-bordered.box-color.lime .box-title,.box.box-bordered.box-color.lime .box-content {
  border-color:#8cbf26!important;
}

.theme-lime #navigation .dropdown-menu,.theme-lime .elfinder-navbar .ui-state-active,.theme-lime #main .box.box-bordered.box-color .box-title,.theme-lime #main .box.box-bordered.box-color .box-content {
  border-color:#8cbf26;
}

.theme-lime.locked .pull-left a,.theme-lime #navigation .toggle-mobile,.theme-lime #navigation .mobile-nav.open>li>a,.theme-lime #navigation .mobile-nav.open>li>ul,.theme-lime #navigation .main-nav>li.open>a,.theme-lime #navigation .main-nav>li>a:hover,.theme-lime #navigation .user .icon-nav>li>a:hover,.theme-lime #navigation .user .dropdown.open,.theme-lime #navigation .user .dropdown>a:hover {
  background:#5d7f19;
}

.theme-lime.locked .pull-left a:hover,.theme-lime #navigation .mobile-nav.open>li.active>a,.theme-lime #navigation .mobile-nav.open>li.active>ul {
  background:#3e5511;
}

.theme-lime .messages>li.right .message p,.theme-lime .messages>li.right .message .time {
  color:#2e3f0d;
}

.font-teal,.box.box-color.teal .box-title .actions>a:hover,.theme-teal a,.theme-teal #main .box.box-color .box-title .tabs>li>a:hover {
  color:#00aba9;
}

ul>li.teal,.label-teal,.progress .bar.bar-teal,.pricing-tables .pricing.teal>li.head,.box.box-color.teal .form-wizard .wizard-steps li.active .single-step .title,.box.box-color.teal .btn.btn-primary,.timeline>li .timeline-content .left .icon.teal,.theme-teal .daterangepicker .active,.theme-teal #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-teal #navigation .dropdown-menu>li.dropdown-submenu:focus>a,.theme-teal #navigation .dropdown-menu>li>a:hover,.theme-teal .datepicker.datepicker-dropdown .datepicker-days .active,.theme-teal .datepicker.datepicker-dropdown .datepicker-years .active,.theme-teal .datepicker.datepicker-dropdown .datepicker-months .active,.theme-teal .form-wizard .wizard-steps li.active .single-step .title,.theme-teal.login,.theme-teal #navigation,.theme-teal #navigation .mobile-nav.open,.theme-teal .search-form .search-pane button[type="submit"],.theme-teal .messages>li.insert .submit button,.theme-teal .letterbox .letter>li.active,.theme-teal .calendar .fc-content .fc-event .fc-event-inner,.theme-teal .calendar .fc-button.fc-state-active,.theme-teal .calendar .fc-button.fc-state-active:hover,.theme-teal .table.table-user tr.alpha td.alpha-val span,.theme-teal .tagsinput#textfield_tagsinput .tag,.theme-teal .ms-container .multi-custom-header,.theme-teal .slider .ui-slider-handle,.theme-teal .form-wizard .wizard-steps li.active .single-step .title,.theme-teal .user-list h4,.theme-teal .nav.nav-pills>li.active>a,.theme-teal .nav.nav-list>li.active>a,.theme-teal .table.table-colored-header thead th,.theme-teal .table.table-colored-header thead td,.theme-teal .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-teal .elfinder-navbar .ui-state-active,.theme-teal .pagination.pagination-custom li.active a:hover,.theme-teal .pagination.pagination-custom li.active a,.theme-teal #main .box .box-title .tabs>li.active>a,.theme-teal #main .box.box-color .box-title {
  background:#00aba9;
}

.pricing-tables .pricing.teal>li.head .name,.btn.btn-teal:hover,.theme-teal .datepicker.datepicker-dropdown .datepicker-days .active:hover,.theme-teal .datepicker.datepicker-dropdown .datepicker-years .active:hover,.theme-teal .datepicker.datepicker-dropdown .datepicker-months .active:hover {
  background:#007877;
}

.box.box-color.teal .box-title,.theme-teal.locked {
  background:#00aba9!important;
}

.box.box-bordered.box-color.teal .box-title,.box.box-bordered.box-color.teal .box-content {
  border-color:#00aba9!important;
}

.theme-teal #navigation .dropdown-menu,.theme-teal .elfinder-navbar .ui-state-active,.theme-teal #main .box.box-bordered.box-color .box-title,.theme-teal #main .box.box-bordered.box-color .box-content {
  border-color:#00aba9;
}

.theme-teal.locked .pull-left a,.theme-teal #navigation .toggle-mobile,.theme-teal #navigation .mobile-nav.open>li>a,.theme-teal #navigation .mobile-nav.open>li>ul,.theme-teal #navigation .main-nav>li.open>a,.theme-teal #navigation .main-nav>li>a:hover,.theme-teal #navigation .user .icon-nav>li>a:hover,.theme-teal #navigation .user .dropdown.open,.theme-teal #navigation .user .dropdown>a:hover {
  background:#005e5d;
}

.theme-teal.locked .pull-left a:hover,.theme-teal #navigation .mobile-nav.open>li.active>a,.theme-teal #navigation .mobile-nav.open>li.active>ul {
  background:#002b2b;
}

.theme-teal .messages>li.right .message p,.theme-teal .messages>li.right .message .time {
  color:#001212;
}

.font-purple,.box.box-color.purple .box-title .actions>a:hover,.theme-purple a,.theme-purple #main .box.box-color .box-title .tabs>li>a:hover {
  color:#ff0097;
}

ul>li.purple,.label-purple,.progress .bar.bar-purple,.pricing-tables .pricing.purple>li.head,.box.box-color.purple .form-wizard .wizard-steps li.active .single-step .title,.box.box-color.purple .btn.btn-primary,.timeline>li .timeline-content .left .icon.purple,.theme-purple .daterangepicker .active,.theme-purple #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-purple #navigation .dropdown-menu>li.dropdown-submenu:focus>a,.theme-purple #navigation .dropdown-menu>li>a:hover,.theme-purple .datepicker.datepicker-dropdown .datepicker-days .active,.theme-purple .datepicker.datepicker-dropdown .datepicker-years .active,.theme-purple .datepicker.datepicker-dropdown .datepicker-months .active,.theme-purple .form-wizard .wizard-steps li.active .single-step .title,.theme-purple.login,.theme-purple #navigation,.theme-purple #navigation .mobile-nav.open,.theme-purple .search-form .search-pane button[type="submit"],.theme-purple .messages>li.insert .submit button,.theme-purple .letterbox .letter>li.active,.theme-purple .calendar .fc-content .fc-event .fc-event-inner,.theme-purple .calendar .fc-button.fc-state-active,.theme-purple .calendar .fc-button.fc-state-active:hover,.theme-purple .table.table-user tr.alpha td.alpha-val span,.theme-purple .tagsinput#textfield_tagsinput .tag,.theme-purple .ms-container .multi-custom-header,.theme-purple .slider .ui-slider-handle,.theme-purple .form-wizard .wizard-steps li.active .single-step .title,.theme-purple .user-list h4,.theme-purple .nav.nav-pills>li.active>a,.theme-purple .nav.nav-list>li.active>a,.theme-purple .table.table-colored-header thead th,.theme-purple .table.table-colored-header thead td,.theme-purple .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-purple .elfinder-navbar .ui-state-active,.theme-purple .pagination.pagination-custom li.active a:hover,.theme-purple .pagination.pagination-custom li.active a,.theme-purple #main .box .box-title .tabs>li.active>a,.theme-purple #main .box.box-color .box-title {
  background:#ff0097;
}

.pricing-tables .pricing.purple>li.head .name,.btn.btn-purple:hover,.theme-purple .datepicker.datepicker-dropdown .datepicker-days .active:hover,.theme-purple .datepicker.datepicker-dropdown .datepicker-years .active:hover,.theme-purple .datepicker.datepicker-dropdown .datepicker-months .active:hover {
  background:#cc0079;
}

.box.box-color.purple .box-title,.theme-purple.locked {
  background:#ff0097!important;
}

.box.box-bordered.box-color.purple .box-title,.box.box-bordered.box-color.purple .box-content {
  border-color:#ff0097!important;
}

.theme-purple #navigation .dropdown-menu,.theme-purple .elfinder-navbar .ui-state-active,.theme-purple #main .box.box-bordered.box-color .box-title,.theme-purple #main .box.box-bordered.box-color .box-content {
  border-color:#ff0097;
}

.theme-purple.locked .pull-left a,.theme-purple #navigation .toggle-mobile,.theme-purple #navigation .mobile-nav.open>li>a,.theme-purple #navigation .mobile-nav.open>li>ul,.theme-purple #navigation .main-nav>li.open>a,.theme-purple #navigation .main-nav>li>a:hover,.theme-purple #navigation .user .icon-nav>li>a:hover,.theme-purple #navigation .user .dropdown.open,.theme-purple #navigation .user .dropdown>a:hover {
  background:#b3006a;
}

.theme-purple.locked .pull-left a:hover,.theme-purple #navigation .mobile-nav.open>li.active>a,.theme-purple #navigation .mobile-nav.open>li.active>ul {
  background:#80004b;
}

.theme-purple .messages>li.right .message p,.theme-purple .messages>li.right .message .time {
  color:#66003c;
}

.font-brown,.box.box-color.brown .box-title .actions>a:hover,.theme-brown a,.theme-brown #main .box.box-color .box-title .tabs>li>a:hover {
  color:#a05000;
}

ul>li.brown,.label-brown,.progress .bar.bar-brown,.pricing-tables .pricing.brown>li.head,.box.box-color.brown .form-wizard .wizard-steps li.active .single-step .title,.box.box-color.brown .btn.btn-primary,.timeline>li .timeline-content .left .icon.brown,.theme-brown .daterangepicker .active,.theme-brown #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-brown #navigation .dropdown-menu>li.dropdown-submenu:focus>a,.theme-brown #navigation .dropdown-menu>li>a:hover,.theme-brown .datepicker.datepicker-dropdown .datepicker-days .active,.theme-brown .datepicker.datepicker-dropdown .datepicker-years .active,.theme-brown .datepicker.datepicker-dropdown .datepicker-months .active,.theme-brown .form-wizard .wizard-steps li.active .single-step .title,.theme-brown.login,.theme-brown #navigation,.theme-brown #navigation .mobile-nav.open,.theme-brown .search-form .search-pane button[type="submit"],.theme-brown .messages>li.insert .submit button,.theme-brown .letterbox .letter>li.active,.theme-brown .calendar .fc-content .fc-event .fc-event-inner,.theme-brown .calendar .fc-button.fc-state-active,.theme-brown .calendar .fc-button.fc-state-active:hover,.theme-brown .table.table-user tr.alpha td.alpha-val span,.theme-brown .tagsinput#textfield_tagsinput .tag,.theme-brown .ms-container .multi-custom-header,.theme-brown .slider .ui-slider-handle,.theme-brown .form-wizard .wizard-steps li.active .single-step .title,.theme-brown .user-list h4,.theme-brown .nav.nav-pills>li.active>a,.theme-brown .nav.nav-list>li.active>a,.theme-brown .table.table-colored-header thead th,.theme-brown .table.table-colored-header thead td,.theme-brown .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-brown .elfinder-navbar .ui-state-active,.theme-brown .pagination.pagination-custom li.active a:hover,.theme-brown .pagination.pagination-custom li.active a,.theme-brown #main .box .box-title .tabs>li.active>a,.theme-brown #main .box.box-color .box-title {
  background:#a05000;
}

.pricing-tables .pricing.brown>li.head .name,.btn.btn-brown:hover,.theme-brown .datepicker.datepicker-dropdown .datepicker-days .active:hover,.theme-brown .datepicker.datepicker-dropdown .datepicker-years .active:hover,.theme-brown .datepicker.datepicker-dropdown .datepicker-months .active:hover {
  background:#6d3700;
}

.box.box-color.brown .box-title,.theme-brown.locked {
  background:#a05000!important;
}

.box.box-bordered.box-color.brown .box-title,.box.box-bordered.box-color.brown .box-content {
  border-color:#a05000!important;
}

.theme-brown #navigation .dropdown-menu,.theme-brown .elfinder-navbar .ui-state-active,.theme-brown #main .box.box-bordered.box-color .box-title,.theme-brown #main .box.box-bordered.box-color .box-content {
  border-color:#a05000;
}

.theme-brown.locked .pull-left a,.theme-brown #navigation .toggle-mobile,.theme-brown #navigation .mobile-nav.open>li>a,.theme-brown #navigation .mobile-nav.open>li>ul,.theme-brown #navigation .main-nav>li.open>a,.theme-brown #navigation .main-nav>li>a:hover,.theme-brown #navigation .user .icon-nav>li>a:hover,.theme-brown #navigation .user .dropdown.open,.theme-brown #navigation .user .dropdown>a:hover {
  background:#532a00;
}

.theme-brown.locked .pull-left a:hover,.theme-brown #navigation .mobile-nav.open>li.active>a,.theme-brown #navigation .mobile-nav.open>li.active>ul {
  background:#201000;
}

.theme-brown .messages>li.right .message p,.theme-brown .messages>li.right .message .time {
  color:#070300;
}

.font-pink,.box.box-color.pink .box-title .actions>a:hover,.theme-pink a,.theme-pink #main .box.box-color .box-title .tabs>li>a:hover {
  color:#e671b8;
}

ul>li.pink,.label-pink,.progress .bar.bar-pink,.pricing-tables .pricing.pink>li.head,.box.box-color.pink .form-wizard .wizard-steps li.active .single-step .title,.box.box-color.pink .btn.btn-primary,.timeline>li .timeline-content .left .icon.pink,.theme-pink .daterangepicker .active,.theme-pink #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-pink #navigation .dropdown-menu>li.dropdown-submenu:focus>a,.theme-pink #navigation .dropdown-menu>li>a:hover,.theme-pink .datepicker.datepicker-dropdown .datepicker-days .active,.theme-pink .datepicker.datepicker-dropdown .datepicker-years .active,.theme-pink .datepicker.datepicker-dropdown .datepicker-months .active,.theme-pink .form-wizard .wizard-steps li.active .single-step .title,.theme-pink.login,.theme-pink #navigation,.theme-pink #navigation .mobile-nav.open,.theme-pink .search-form .search-pane button[type="submit"],.theme-pink .messages>li.insert .submit button,.theme-pink .letterbox .letter>li.active,.theme-pink .calendar .fc-content .fc-event .fc-event-inner,.theme-pink .calendar .fc-button.fc-state-active,.theme-pink .calendar .fc-button.fc-state-active:hover,.theme-pink .table.table-user tr.alpha td.alpha-val span,.theme-pink .tagsinput#textfield_tagsinput .tag,.theme-pink .ms-container .multi-custom-header,.theme-pink .slider .ui-slider-handle,.theme-pink .form-wizard .wizard-steps li.active .single-step .title,.theme-pink .user-list h4,.theme-pink .nav.nav-pills>li.active>a,.theme-pink .nav.nav-list>li.active>a,.theme-pink .table.table-colored-header thead th,.theme-pink .table.table-colored-header thead td,.theme-pink .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-pink .elfinder-navbar .ui-state-active,.theme-pink .pagination.pagination-custom li.active a:hover,.theme-pink .pagination.pagination-custom li.active a,.theme-pink #main .box .box-title .tabs>li.active>a,.theme-pink #main .box.box-color .box-title {
  background:#e671b8;
}

.pricing-tables .pricing.pink>li.head .name,.btn.btn-pink:hover,.theme-pink .datepicker.datepicker-dropdown .datepicker-days .active:hover,.theme-pink .datepicker.datepicker-dropdown .datepicker-years .active:hover,.theme-pink .datepicker.datepicker-dropdown .datepicker-months .active:hover {
  background:#de46a2;
}

.box.box-color.pink .box-title,.theme-pink.locked {
  background:#e671b8!important;
}

.box.box-bordered.box-color.pink .box-title,.box.box-bordered.box-color.pink .box-content {
  border-color:#e671b8!important;
}

.theme-pink #navigation .dropdown-menu,.theme-pink .elfinder-navbar .ui-state-active,.theme-pink #main .box.box-bordered.box-color .box-title,.theme-pink #main .box.box-bordered.box-color .box-content {
  border-color:#e671b8;
}

.theme-pink.locked .pull-left a,.theme-pink #navigation .toggle-mobile,.theme-pink #navigation .mobile-nav.open>li>a,.theme-pink #navigation .mobile-nav.open>li>ul,.theme-pink #navigation .main-nav>li.open>a,.theme-pink #navigation .main-nav>li>a:hover,.theme-pink #navigation .user .icon-nav>li>a:hover,.theme-pink #navigation .user .dropdown.open,.theme-pink #navigation .user .dropdown>a:hover {
  background:#db3097;
}

.theme-pink.locked .pull-left a:hover,.theme-pink #navigation .mobile-nav.open>li.active>a,.theme-pink #navigation .mobile-nav.open>li.active>ul {
  background:#b7207c;
}

.theme-pink .messages>li.right .message p,.theme-pink .messages>li.right .message .time {
  color:#a21c6d;
}

.theme-pink .messages>li.right .message .caret,.theme-grey-3 .messages>li.right .message .caret,.theme-grey-4 .messages>li.right .message .caret {
  border-left:7px solid #fff;
}

.font-magenta,.box.box-color.magenta .box-title .actions>a:hover,.theme-magenta a,.theme-magenta #main .box.box-color .box-title .tabs>li>a:hover {
  color:#a200ff;
}

ul>li.magenta,.label-magenta,.progress .bar.bar-magenta,.pricing-tables .pricing.magenta>li.head,.box.box-color.magenta .form-wizard .wizard-steps li.active .single-step .title,.box.box-color.magenta .btn.btn-primary,.timeline>li .timeline-content .left .icon.magenta,.theme-magenta .daterangepicker .active,.theme-magenta #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-magenta #navigation .dropdown-menu>li.dropdown-submenu:focus>a,.theme-magenta #navigation .dropdown-menu>li>a:hover,.theme-magenta .datepicker.datepicker-dropdown .datepicker-days .active,.theme-magenta .datepicker.datepicker-dropdown .datepicker-years .active,.theme-magenta .datepicker.datepicker-dropdown .datepicker-months .active,.theme-magenta .form-wizard .wizard-steps li.active .single-step .title,.theme-magenta.login,.theme-magenta #navigation,.theme-magenta #navigation .mobile-nav.open,.theme-magenta .search-form .search-pane button[type="submit"],.theme-magenta .messages>li.insert .submit button,.theme-magenta .letterbox .letter>li.active,.theme-magenta .calendar .fc-content .fc-event .fc-event-inner,.theme-magenta .calendar .fc-button.fc-state-active,.theme-magenta .calendar .fc-button.fc-state-active:hover,.theme-magenta .table.table-user tr.alpha td.alpha-val span,.theme-magenta .tagsinput#textfield_tagsinput .tag,.theme-magenta .ms-container .multi-custom-header,.theme-magenta .slider .ui-slider-handle,.theme-magenta .form-wizard .wizard-steps li.active .single-step .title,.theme-magenta .user-list h4,.theme-magenta .nav.nav-pills>li.active>a,.theme-magenta .nav.nav-list>li.active>a,.theme-magenta .table.table-colored-header thead th,.theme-magenta .table.table-colored-header thead td,.theme-magenta .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-magenta .elfinder-navbar .ui-state-active,.theme-magenta .pagination.pagination-custom li.active a:hover,.theme-magenta .pagination.pagination-custom li.active a,.theme-magenta #main .box .box-title .tabs>li.active>a,.theme-magenta #main .box.box-color .box-title {
  background:#a200ff;
}

.pricing-tables .pricing.magenta>li.head .name,.btn.btn-magenta:hover,.theme-magenta .datepicker.datepicker-dropdown .datepicker-days .active:hover,.theme-magenta .datepicker.datepicker-dropdown .datepicker-years .active:hover,.theme-magenta .datepicker.datepicker-dropdown .datepicker-months .active:hover {
  background:#8200cc;
}

.box.box-color.magenta .box-title,.theme-magenta.locked {
  background:#a200ff!important;
}

.box.box-bordered.box-color.magenta .box-title,.box.box-bordered.box-color.magenta .box-content {
  border-color:#a200ff!important;
}

.theme-magenta #navigation .dropdown-menu,.theme-magenta .elfinder-navbar .ui-state-active,.theme-magenta #main .box.box-bordered.box-color .box-title,.theme-magenta #main .box.box-bordered.box-color .box-content {
  border-color:#a200ff;
}

.theme-magenta.locked .pull-left a,.theme-magenta #navigation .toggle-mobile,.theme-magenta #navigation .mobile-nav.open>li>a,.theme-magenta #navigation .mobile-nav.open>li>ul,.theme-magenta #navigation .main-nav>li.open>a,.theme-magenta #navigation .main-nav>li>a:hover,.theme-magenta #navigation .user .icon-nav>li>a:hover,.theme-magenta #navigation .user .dropdown.open,.theme-magenta #navigation .user .dropdown>a:hover {
  background:#7100b3;
}

.theme-magenta.locked .pull-left a:hover,.theme-magenta #navigation .mobile-nav.open>li.active>a,.theme-magenta #navigation .mobile-nav.open>li.active>ul {
  background:#510080;
}

.theme-magenta .messages>li.right .message p,.theme-magenta .messages>li.right .message .time {
  color:#410066;
}

ul>li.grey,.label-grey,.progress .bar.bar-grey,.pricing-tables .pricing.grey>li.head,.box.box-color.grey .form-wizard .wizard-steps li.active .single-step .title,.box.box-color.grey .btn.btn-primary,.timeline>li .timeline-content .left .icon.grey,.theme-grey .daterangepicker .active,.theme-grey #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-grey #navigation .dropdown-menu>li.dropdown-submenu:focus>a,.theme-grey #navigation .dropdown-menu>li>a:hover,.theme-grey .datepicker.datepicker-dropdown .datepicker-days .active,.theme-grey .datepicker.datepicker-dropdown .datepicker-years .active,.theme-grey .datepicker.datepicker-dropdown .datepicker-months .active,.theme-grey .form-wizard .wizard-steps li.active .single-step .title,.theme-grey.login,.theme-grey #navigation,.theme-grey #navigation .mobile-nav.open,.theme-grey .search-form .search-pane button[type="submit"],.theme-grey .messages>li.insert .submit button,.theme-grey .letterbox .letter>li.active,.theme-grey .calendar .fc-content .fc-event .fc-event-inner,.theme-grey .calendar .fc-button.fc-state-active,.theme-grey .calendar .fc-button.fc-state-active:hover,.theme-grey .table.table-user tr.alpha td.alpha-val span,.theme-grey .tagsinput#textfield_tagsinput .tag,.theme-grey .ms-container .multi-custom-header,.theme-grey .slider .ui-slider-handle,.theme-grey .form-wizard .wizard-steps li.active .single-step .title,.theme-grey .user-list h4,.theme-grey .nav.nav-pills>li.active>a,.theme-grey .nav.nav-list>li.active>a,.theme-grey .table.table-colored-header thead th,.theme-grey .table.table-colored-header thead td,.theme-grey .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-grey .elfinder-navbar .ui-state-active,.theme-grey .pagination.pagination-custom li.active a:hover,.theme-grey .pagination.pagination-custom li.active a,.theme-grey #main .box .box-title .tabs>li.active>a,.theme-grey #main .box.box-color .box-title {
  background:#333;
}

.pricing-tables .pricing.grey>li.head .info,.theme-lightgrey.locked .pull-left a,.theme-lightgrey #navigation .toggle-mobile,.theme-lightgrey #navigation .mobile-nav.open>li>a,.theme-lightgrey #navigation .mobile-nav.open>li>ul,.theme-lightgrey #navigation .main-nav>li.open>a,.theme-lightgrey #navigation .main-nav>li>a:hover,.theme-lightgrey #navigation .user .icon-nav>li>a:hover,.theme-lightgrey #navigation .user .dropdown.open,.theme-lightgrey #navigation .user .dropdown>a:hover {
  background:#404040;
}

.pricing-tables .pricing.grey>li.head .name,.btn.btn-grey:hover,.theme-grey .datepicker.datepicker-dropdown .datepicker-days .active:hover,.theme-grey .datepicker.datepicker-dropdown .datepicker-years .active:hover,.theme-grey .datepicker.datepicker-dropdown .datepicker-months .active:hover {
  background:#1a1a1a;
}

.box.box-color.grey .box-title,.theme-grey.locked {
  background:#333!important;
}

.box.box-bordered.box-color.grey .box-title,.box.box-bordered.box-color.grey .box-content {
  border-color:#333!important;
}

.theme-grey #navigation .dropdown-menu,.theme-grey .elfinder-navbar .ui-state-active,.theme-grey #main .box.box-bordered.box-color .box-title,.theme-grey #main .box.box-bordered.box-color .box-content {
  border-color:#333;
}

.theme-grey.locked .pull-left a,.theme-grey #navigation .toggle-mobile,.theme-grey #navigation .mobile-nav.open>li>a,.theme-grey #navigation .mobile-nav.open>li>ul,.theme-grey #navigation .main-nav>li.open>a,.theme-grey #navigation .main-nav>li>a:hover,.theme-grey #navigation .user .icon-nav>li>a:hover,.theme-grey #navigation .user .dropdown.open,.theme-grey #navigation .user .dropdown>a:hover {
  background:#0d0d0d;
}

.theme-grey.locked .pull-left a:hover,.theme-grey #navigation .mobile-nav.open>li.active>a,.theme-grey #navigation .mobile-nav.open>li.active>ul {
  background:#000;
}

.theme-grey .messages>li.right .message,ul>li.grey-4,.label-grey-4,.progress .bar.bar-grey-4,.pricing-tables .pricing.grey-4>li.head,.box.box-color.grey-4 .form-wizard .wizard-steps li.active .single-step .title,.box.box-color.grey-4 .btn.btn-primary,.timeline>li .timeline-content .left .icon.grey-4,.theme-grey-4 .daterangepicker .active,.theme-grey-4 #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-grey-4 #navigation .dropdown-menu>li.dropdown-submenu:focus>a,.theme-grey-4 #navigation .dropdown-menu>li>a:hover,.theme-grey-4 .datepicker.datepicker-dropdown .datepicker-days .active,.theme-grey-4 .datepicker.datepicker-dropdown .datepicker-years .active,.theme-grey-4 .datepicker.datepicker-dropdown .datepicker-months .active,.theme-grey-4 .form-wizard .wizard-steps li.active .single-step .title,.theme-grey-4.login,.theme-grey-4 #navigation,.theme-grey-4 #navigation .mobile-nav.open,.theme-grey-4 .search-form .search-pane button[type="submit"],.theme-grey-4 .messages>li.insert .submit button,.theme-grey-4 .letterbox .letter>li.active,.theme-grey-4 .calendar .fc-content .fc-event .fc-event-inner,.theme-grey-4 .calendar .fc-button.fc-state-active,.theme-grey-4 .calendar .fc-button.fc-state-active:hover,.theme-grey-4 .table.table-user tr.alpha td.alpha-val span,.theme-grey-4 .tagsinput#textfield_tagsinput .tag,.theme-grey-4 .ms-container .multi-custom-header,.theme-grey-4 .slider .ui-slider-handle,.theme-grey-4 .form-wizard .wizard-steps li.active .single-step .title,.theme-grey-4 .user-list h4,.theme-grey-4 .nav.nav-pills>li.active>a,.theme-grey-4 .nav.nav-list>li.active>a,.theme-grey-4 .table.table-colored-header thead th,.theme-grey-4 .table.table-colored-header thead td,.theme-grey-4 .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-grey-4 .elfinder-navbar .ui-state-active,.theme-grey-4 .pagination.pagination-custom li.active a:hover,.theme-grey-4 .pagination.pagination-custom li.active a,.theme-grey-4 #main .box .box-title .tabs>li.active>a,.theme-grey-4 #main .box.box-color .box-title {
  background:#999;
}

.font-darkblue,.box.box-color.darkblue .box-title .actions>a:hover,.theme-darkblue a,.theme-darkblue #main .box.box-color .box-title .tabs>li>a:hover {
  color:#204e81;
}

ul>li.darkblue,.label-darkblue,.progress .bar.bar-darkblue,.pricing-tables .pricing.darkblue>li.head,.box.box-color.darkblue .form-wizard .wizard-steps li.active .single-step .title,.box.box-color.darkblue .btn.btn-primary,.timeline>li .timeline-content .left .icon.darkblue,.theme-darkblue .daterangepicker .active,.theme-darkblue #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-darkblue #navigation .dropdown-menu>li.dropdown-submenu:focus>a,.theme-darkblue #navigation .dropdown-menu>li>a:hover,.theme-darkblue .datepicker.datepicker-dropdown .datepicker-days .active,.theme-darkblue .datepicker.datepicker-dropdown .datepicker-years .active,.theme-darkblue .datepicker.datepicker-dropdown .datepicker-months .active,.theme-darkblue .form-wizard .wizard-steps li.active .single-step .title,.theme-darkblue.login,.theme-darkblue #navigation,.theme-darkblue #navigation .mobile-nav.open,.theme-darkblue .search-form .search-pane button[type="submit"],.theme-darkblue .messages>li.insert .submit button,.theme-darkblue .letterbox .letter>li.active,.theme-darkblue .calendar .fc-content .fc-event .fc-event-inner,.theme-darkblue .calendar .fc-button.fc-state-active,.theme-darkblue .calendar .fc-button.fc-state-active:hover,.theme-darkblue .table.table-user tr.alpha td.alpha-val span,.theme-darkblue .tagsinput#textfield_tagsinput .tag,.theme-darkblue .ms-container .multi-custom-header,.theme-darkblue .slider .ui-slider-handle,.theme-darkblue .form-wizard .wizard-steps li.active .single-step .title,.theme-darkblue .user-list h4,.theme-darkblue .nav.nav-pills>li.active>a,.theme-darkblue .nav.nav-list>li.active>a,.theme-darkblue .table.table-colored-header thead th,.theme-darkblue .table.table-colored-header thead td,.theme-darkblue .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-darkblue .elfinder-navbar .ui-state-active,.theme-darkblue .pagination.pagination-custom li.active a:hover,.theme-darkblue .pagination.pagination-custom li.active a,.theme-darkblue #main .box .box-title .tabs>li.active>a,.theme-darkblue #main .box.box-color .box-title {
  background:#204e81;
}

.pricing-tables .pricing.darkblue>li.head .name,.btn.btn-darkblue:hover,.theme-darkblue .datepicker.datepicker-dropdown .datepicker-days .active:hover,.theme-darkblue .datepicker.datepicker-dropdown .datepicker-years .active:hover,.theme-darkblue .datepicker.datepicker-dropdown .datepicker-months .active:hover {
  background:#163558;
}

.box.box-color.darkblue .box-title,.theme-darkblue.locked {
  background:#204e81!important;
}

.box.box-bordered.box-color.darkblue .box-title,.box.box-bordered.box-color.darkblue .box-content {
  border-color:#204e81!important;
}

.theme-darkblue #navigation .dropdown-menu,.theme-darkblue .elfinder-navbar .ui-state-active,.theme-darkblue #main .box.box-bordered.box-color .box-title,.theme-darkblue #main .box.box-bordered.box-color .box-content {
  border-color:#204e81;
}

.theme-darkblue.locked .pull-left a,.theme-darkblue #navigation .toggle-mobile,.theme-darkblue #navigation .mobile-nav.open>li>a,.theme-darkblue #navigation .mobile-nav.open>li>ul,.theme-darkblue #navigation .main-nav>li.open>a,.theme-darkblue #navigation .main-nav>li>a:hover,.theme-darkblue #navigation .user .icon-nav>li>a:hover,.theme-darkblue #navigation .user .dropdown.open,.theme-darkblue #navigation .user .dropdown>a:hover {
  background:#112944;
}

.theme-darkblue.locked .pull-left a:hover,.theme-darkblue #navigation .mobile-nav.open>li.active>a,.theme-darkblue #navigation .mobile-nav.open>li.active>ul {
  background:#07101b;
}

.theme-darkblue .messages>li.right .message p,.theme-darkblue .messages>li.right .message .time {
  color:#020406;
}
